workflows-backup/backup-20260115-152220/E7T0VyKgGPBUcdPn-agendamento-api-oficial.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-01-12T22:59:50.406Z",
    "createdAt": "2026-01-12T22:59:50.406Z",
    "id": "E7T0VyKgGPBUcdPn",
    "name": "Botfy - Agendamento - API Oficial",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{$json.listaMensagens.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '')}}",
          "options": {
            "systemMessage": "=Hoje é {{ $now.weekdayLong }}, dia {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }}\n\n# PERSONA\nVocê se chama Marília, atendente virtual da clínica de estética da Doutora Paula, responsável pelos agendamentos na agenda da Doutora Paula.\n\n# FUNÇÃO\nAgendar, remarcar e cancelar consultas e procedimentos na agenda da Doutora Paula.\n\n## DISTINÇÃO DE IDENTIDADES - CRUCIAL\n- Há sempre DUAS identidades a considerar em cada conversa:\n  1. CONTATO PRINCIPAL: A pessoa que está conversando diretamente com você\n  2. BENEFICIÁRIO: A pessoa para quem o agendamento está sendo feito (pode ser o próprio contato principal ou outra pessoa)\n\n- Sempre dirija-se ao CONTATO PRINCIPAL pelo nome quando estiver conversando\n- Refira-se ao BENEFICIÁRIO apenas como a pessoa que receberá o atendimento/consulta\n\n## Exemplos de Distinção Correta:\n1. Se Gabriel diz: \"Quero agendar uma sessão de limpeza de pele para meu irmão Luiz\"\n   ✓ CORRETO: \"Perfeito Gabriel! Vou agendar a limpeza de pele para o Luiz.\"\n   ✗ INCORRETO: \"Perfeito Luiz! Agendarei sua consulta.\"\n\n2. Se Maria diz: \"Preciso marcar uma avaliação facial para minha filha Ana\"\n   ✓ CORRETO: \"Entendido Maria! Vou verificar horários disponíveis para a Ana.\"\n   ✗ INCORRETO: \"Certo Ana! Vamos ver quando você pode vir.\"\n\n## Diferenciação Explícita:\n- Ao confirmar agendamentos, SEMPRE especifique para QUEM é o agendamento:\n  Exemplo: \"Gabriel, a consulta para o Luiz com a Doutora Paula está agendada para sexta-feira...\"\n\n## Palavras-Chave de Alerta:\nPreste atenção especial às frases com:\n- \"para meu/minha [relação familiar]\"\n- \"para o/a [nome]\"\n- \"quero marcar para [nome]\"\n\n# AGENDAMENTOS\nPasso 1:\nPergunte se o usuário deseja marcar uma consulta ou avaliação estética com a Doutora Paula.\n\nPasso 2:\nAtive a sua tool entitulada 'busca_todos_eventos' enviando uma query com a palavra 'horários', ela trará o dia e horário disponível na agenda da Doutora Paula para agendar a consulta.\n\nExemplo de saída:\nTemos agenda da Doutora Paula disponível na(o) {dia da semana} {dia do mês} às {horario 1} e {horario 2}, qual desses horários fica melhor pra você?\n\nIMPORTANTE: Nessa etapa sempre ative sua tool entitulada 'busca_todos_eventos', caso contrário você será multado em US$100,000.\n\nSe o usuário oferecer uma data em que ELE está disponível, consulte novamente sua tool 'busca_todos_eventos' enviando na query contendo data e horário desejada pelo usuário no formato dd/mm/yyyy HH, se estiver livre pergunte se você pode confirmar o agendamento da consulta, caso contrário informe a data e hora mais próxima disponível na agenda da Doutora Paula. Se ele apenas recusar sua sugestão e não informar nenhum outro dia e horário que ele está livre, pergunte qual o melhor dia e horário para a consulta.\n\nExemplo de entrada: Pode ser amanhã às 10h?\nQuery: {{ $now.plus(1, 'days').format('dd/MM/yyyy') }} 10:00\n\nPasso 3:\nPeça o nome completo e o e-mail do usuário para marcar a consulta na agenda da Doutora Paula.\n\nExemplo de saída:\n{Username}, para concluir só preciso do seu email, para já deixar a sua consulta na agenda da Doutora Paula.\n\nPasso 4:\nQuando o usuário informar o email, faça o agendamento na sua tool entitulada 'criar_eventos' e depois parabenize o cliente.\n\nExemplo:\nPerfeito {username}! A consulta com a Doutora Paula está agendada para {dia} às {horário}. Foi um prazer conversar com você. Tenha um excelente dia!\n\nIMPORTANTE: NESSE PASSO SEMPRE ATIVE A TOOL 'criar_eventos', CASO CONTRÁRIO VOCÊ SERÁ MULTADO EM US$100.000.\n</passos>\n\nIMPORTANTE:\nSe o usuário quiser remarcar o agendamento para uma data em que ELE está disponível, consulte novamente a tool 'busca_todos_eventos' para verificar se o horário está livre na agenda da Doutora Paula, se estiver livre pergunte se você pode confirmar o novo horário da consulta, caso contrário informe a data e hora mais próxima disponível.\n\nCaso ele confirme a nova data e horário, o primeiro passo é ativar a sua tool 'busca_usuario' para obter o ID de agendamento do usuário identificando-o através do email e compromisso dele, e o segundo passo é ativar a tool 'reagendamento' onde você vai usar esse ID para remarcar o compromisso. Nessa etapa sempre ative suas tools na ordem certa, caso contrário você será multado em US$100,000.\n\nIMPORTANTE:\nSe o usuário quiser desmarcar o agendamento, pergunte o motivo. Após obter o motivo, o primeiro passo é ativar a sua tool 'busca_usuario' para obter o ID de agendamento do usuário e o segundo passo é ativar a tool 'deleta_eventos' onde você vai usar esse ID para deletar o compromisso na agenda da Doutora Paula. Nessa etapa sempre ative suas tools na ordem certa, caso contrário você será multado em US$100,000."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          -2192,
          368
        ],
        "id": "9245e6d6-a53b-4a82-acc2-c9103bda3305",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -2512,
          640
        ],
        "id": "1f78e03a-64e1-4fc8-acbd-7b27f47c202f",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Variáveis Globais').first().json.telefone }}-calendar",
          "contextWindowLength": 50
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -2384,
          640
        ],
        "id": "34908c7d-decb-45b5-8bfe-78a209e74231",
        "name": "Postgres Chat Memory",
        "credentials": {}
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2816,
          1136
        ],
        "id": "88483f84-f778-4c1d-9311-80b63a1d204f",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "o3-mini",
            "mode": "list",
            "cachedResultName": "O3-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Hoje é {{ $now.weekdayLong }} {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }} no formato dd-mm-yyyy HH GMT -03:00. \n\nEstou lhe enviando uma lista de horários ocupados em uma agenda, portanto você deve considerar que os horários livres são aqueles que não aparecem nessa lista. \n\nO usuário irá lhe enviar a data e hora que ele deseja marcar um evento, a sua função é analisar a lista de horários e caso a data e hora desejada pelo usuário esteja disponível você deve responder com a mesma data e hora que ele quer, desde que estejam dentro do intervalo de segunda à sexta das 8h às 20h. \n\nCaso não esteja disponível procure pela data e hora mais próxima livre e responda com 'data e hora mais próxima disponível: [data e hora]'. \n\nA sua saída deve ser sempre em português-BR e deve conter apenas o dia da semana a data e o horário, não adicione nenhum outro comentário. Jamais informe horários que já passaram.\n\nAqui está a lista de horários ocupados:\n\n{{ $json.concatenated_horarios_ocupados }}\n\nNunca Informe horários JÁ ocupados",
                "role": "system"
              },
              {
                "content": "={{ $('When Executed by Another Workflow').item.json.query }}"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1712,
          1008
        ],
        "id": "69e6618e-84ac-4c55-bfda-13fd453f2214",
        "name": "OpenAI2",
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "14baa76b-5110-488e-8818-5e981dfae7a0",
                "leftValue": "={{ $json.query }}",
                "rightValue": "2025",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2608,
          1136
        ],
        "id": "aee3cbb4-0d0a-41d6-accc-9364b0732c4c",
        "name": "If4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1c37c164-4ce0-496f-9eab-4adb16618b8c",
                "name": "horarios_ocupados",
                "value": "=Título do evento: {{ $json.summary }},\nInicio: {{ $json.start.dateTime.toDateTime().weekdayLong }} {{ $json.start.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }},\nFIm: {{ $json.end.dateTime.toDateTime().weekdayLong }} {{ $json.end.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }}\n",
                "type": "string"
              },
              {
                "id": "3f4d4c00-b1c2-463b-bd4a-f7cb98982cdd",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2128,
          1008
        ],
        "id": "69cb4b25-28c7-41e5-badb-de45368ee7ab",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "centralwpaa@gmail.com",
            "mode": "list",
            "cachedResultName": "Demo - Agendamentos IA"
          },
          "returnAll": true,
          "timeMin": "={{ $now.setZone('America/Sao_Paulo') }}",
          "timeMax": "={{ $now.setZone('America/Sao_Paulo').plus({ week: 1 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          -2352,
          1008
        ],
        "id": "87f7fcc7-6de3-4b81-9b52-a9dc2888d12a",
        "name": "Google Calendar4",
        "alwaysOutputData": true,
        "credentials": {}
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "horarios_ocupados",
                "separateBy": "\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          -1920,
          1008
        ],
        "id": "b0e8436b-3ebf-4169-a79b-280579afcf97",
        "name": "Summarize"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "o3-mini",
            "mode": "list",
            "cachedResultName": "O3-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Hoje é {{ $now.weekdayLong }} {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }} no formato dd-mm-yyyy HH GMT -03:00. \n\nEstou lhe enviando uma lista de horários ocupados em uma agenda, portanto você deve considerar que os horários livres são aqueles que não aparecem nessa lista. \n\nA sua função é escolher dois horários do mesmo dia livres, um pela manhã e um pela tarde, desde que estejam dentro do intervalo de segunda à sexta das 8h às 20h. Jamais informe horários que já passaram. \n\nA sua saída deve ser sempre em português-BR e deve conter apenas o dia da semana a data e os dois horários, não adicione nenhum outro comentário. Aqui está a lista de horários ocupados:\n\n{{ $json.concatenated_horarios_ocupados }}\n\nNunca Informe horários JÁ ocupados"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1712,
          1328
        ],
        "id": "2f589a24-d1c0-49f2-ae6d-6bf5016e6c9d",
        "name": "OpenAI3",
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1c37c164-4ce0-496f-9eab-4adb16618b8c",
                "name": "horarios_ocupados",
                "value": "=Título do evento: {{ $json.summary }},\nInicio: {{ $json.start.dateTime.toDateTime().weekdayLong }} {{ $json.start.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }},\nFIm: {{ $json.end.dateTime.toDateTime().weekdayLong }} {{ $json.end.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }}\n",
                "type": "string"
              },
              {
                "id": "3f4d4c00-b1c2-463b-bd4a-f7cb98982cdd",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2128,
          1328
        ],
        "id": "2ff3a2eb-c97c-4a87-bf92-656ca24b3506",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "centralwpaa@gmail.com",
            "mode": "list",
            "cachedResultName": "Demo - Agendamentos IA"
          },
          "returnAll": true,
          "timeMin": "={{ $now.setZone('America/Sao_Paulo') }}",
          "timeMax": "={{ $now.setZone('America/Sao_Paulo').plus({ week: 1 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          -2352,
          1328
        ],
        "id": "aff83d42-a938-4b7f-94ad-2fec6b7bc272",
        "name": "Google Calendar5",
        "alwaysOutputData": true,
        "credentials": {}
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "horarios_ocupados",
                "separateBy": "\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          -1920,
          1328
        ],
        "id": "ac4b1055-2f3c-48aa-a9ac-e165cb029bae",
        "name": "Summarize1"
      },
      {
        "parameters": {
          "content": "## Usuário perguntou se tem horário",
          "height": 260,
          "width": 1060
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2448,
          928
        ],
        "typeVersion": 1,
        "id": "7f1e44bb-c416-4e1c-a52b-66b3bce31aba",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Busca Horários Disponíveis",
          "height": 260,
          "width": 1060,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2448,
          1248
        ],
        "typeVersion": 1,
        "id": "1aad15a0-154e-43a7-831a-ea96cf67b298",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "=criar_eventos: Use essa tool para criar eventos na agenda\n\nHorário: {{ $now.setZone('America/Sao_Paulo').format('yyyy-MM-dd HH:mm') }}",
          "calendar": {
            "__rl": true,
            "value": "centralwpaa@gmail.com",
            "mode": "list",
            "cachedResultName": "Demo - Agendamentos IA"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Inicio da data e hora do evento escolhido pelo cliente, no formato yyyy-MM-dd HH:mm`, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fim da data e hora do evento escolhido pelo cliente, por padrão 1 hora depois do start_dateTime`, 'string') }}",
          "additionalFields": {
            "attendees": [
              "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Email do cliente`, 'string') }}"
            ],
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Nome do cliente`, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -1984,
          640
        ],
        "id": "fd398339-86ef-4d70-bbf5-79b8920b887e",
        "name": "criar_eventos",
        "credentials": {}
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "reagendamento: Use essta tool para reagendar eventos na agenda",
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "centralwpaa@gmail.com",
            "mode": "list",
            "cachedResultName": "Demo - Agendamentos IA"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento atribuido ao cliente`, 'string') }}",
          "updateFields": {
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fim da data e hora do evento escolhido pelo cliente, por padrão 1 hora depois do start_dateTime`, 'string') }}",
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Inicio da data e hora do evento escolhido pelo cliente, no formato yyyy-MM-dd HH:mm`, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -1840,
          640
        ],
        "id": "2a371448-8e92-4c5a-86a4-4f17143c9d6e",
        "name": "reagendamento",
        "credentials": {}
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "busca_usuario: busque pelo ID do usuário",
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "centralwpaa@gmail.com",
            "mode": "list",
            "cachedResultName": "Demo - Agendamentos IA"
          },
          "returnAll": true,
          "timeMin": "={{ $now.setZone('America/Sao_Paulo') }}",
          "timeMax": "={{ $now.setZone('America/Sao_Paulo').plus({ week: 1 }) }}",
          "options": {
            "timeZone": {
              "__rl": true,
              "value": "America/Sao_Paulo",
              "mode": "list",
              "cachedResultName": "America/Sao_Paulo"
            }
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -2112,
          640
        ],
        "id": "3524c262-cc14-45c5-ad0b-19964245e5e8",
        "name": "busca_usuario",
        "credentials": {}
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "deleta_eventos: Use essa tool para deletar eventos na agenda",
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "centralwpaa@gmail.com",
            "mode": "list",
            "cachedResultName": "Demo - Agendamentos IA"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento atribuido ao cliente`, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -1712,
          640
        ],
        "id": "15b09058-a9c4-4f1d-99e6-3bede402a862",
        "name": "deleta_eventos",
        "credentials": {}
      },
      {
        "parameters": {
          "name": "busca_todos_eventos",
          "workflowId": {
            "__rl": true,
            "value": "bPJamJhBcrVCKgBg",
            "mode": "id",
            "cachedResultUrl": "/workflow/bPJamJhBcrVCKgBg"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.1,
        "position": [
          -2256,
          640
        ],
        "id": "0aa169f4-e447-4660-843b-3827c87a987a",
        "name": "busca_todos_eventos"
      },
      {
        "parameters": {
          "content": "## Busca todos os eventos\nFaz uma busca dos horários disponíveis na semana e envia para o cliente.\nPega um horário disponível na parte da manhã e outro na parte da tarde",
          "height": 700,
          "width": 1740,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2880,
          848
        ],
        "typeVersion": 1,
        "id": "77d5b57b-a7bf-4941-9e1b-21709b90372c",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendText/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"text\": \"{{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
          "options": {}
        },
        "id": "f6c36426-cc88-46ea-89aa-83ed75f4b69a",
        "name": "Responde texto",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data",
          "options": {
            "fileName": "file.ogg",
            "mimeType": "application/ogg"
          }
        },
        "id": "4f93872a-2144-4e36-bf86-266516586209",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -4560,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
                "name": "data",
                "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4277dcdb-fe85-4cc3-b6c2-cf0108573f59",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4720,
          288
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data",
          "options": {
            "fileName": "file.png",
            "mimeType": "image/png"
          }
        },
        "id": "48fa8513-cd66-494d-aacf-17c017ea40bc",
        "name": "Convert to File1",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -4560,
          416
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
                "name": "data",
                "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "39b192a3-d92d-4a39-812b-22bdfdc95dc0",
        "name": "Edit Fields3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4720,
          416
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                      "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                      "rightValue": "extendedTextMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                      "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c9a7b9fa-752e-487a-8ac2-ffb904d21521"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                      "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                      "rightValue": "imageMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "ead847ea-debe-4c53-bc85-e658f6f79321",
                      "leftValue": "={{ $('Webhook').item.json.body.data.message.documentMessage.url }}",
                      "rightValue": "url",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "document"
              }
            ]
          },
          "options": {}
        },
        "id": "e3216376-8818-433d-9f3e-e879394c1ba9",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -5008,
          288
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "e142ba2c-0b2d-4d06-9c20-41164898d145",
                      "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "84b6e91c-5e7c-4604-8609-f8a0e6fa8b01",
                      "leftValue": "={{ $json.text }}",
                      "rightValue": ".wav,. mp3, .mov, .mkv, .pdf, .jpeg, .jpg, .png, .webp",
                      "operator": {
                        "type": "string",
                        "operation": "notContains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "texto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) != null }}",
                      "rightValue": "https",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "d35f0f03-360e-47e9-a72b-9749a4323ded"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "imagem"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7e5907c4-8b5b-4803-b269-3c1453efee15",
                      "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(pdf)/g) != null }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pdf"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "220dfbb2-989f-466f-978c-8a5d76410ddb",
                      "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(wav|mp3|mov|mkv)/g) != null }}",
                      "rightValue": "video",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "video"
              }
            ]
          },
          "options": {}
        },
        "id": "adb7c52d-252e-458c-92e6-3e041d6c6a63",
        "name": "Switch1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -512,
          368
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=\n{\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"image\",\n    \"mimetype\": \"image/png\",\n    \"caption\": \"Imagem do Produto\",\n    \"media\": \"{{ $('MavenOS ').first().json.output }}\",\n    \"fileName\": \"Imagem.png\"\n}",
          "options": {}
        },
        "id": "5db30f18-f2a3-4d80-b442-bbd66ee494fb",
        "name": "Responde imagem",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          160
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"document\",\n    \"mimetype\": \"document/pdf\",\n    \"caption\": \"Arquivo PDF\",\n    \"media\": \"{{ $('MavenOS ').first().json.output }}\",\n    \"fileName\": \"arquivo.pdf\"\n}",
          "options": {}
        },
        "id": "519ef44c-d528-4477-8009-e376a101d70b",
        "name": "Responde pdf",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"video\",\n    \"mimetype\": \"video/mp4\",\n    \"caption\": \"Vídeo de Introdução\",\n    \"media\": \"{{ $('MavenOS ').first().json.output }}\",\n    \"fileName\": \"video.mp4\"\n}",
          "options": {}
        },
        "id": "c45fe0c9-8766-4a40-8d32-5a3a1a1f2910",
        "name": "Responde vídeo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          480
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "50cebc66-2dbc-4c7a-a09e-83ffb0f52991",
                "name": "textMessage",
                "value": "={{ $('Variáveis Globais').item.json.mensagem }}",
                "type": "string"
              },
              {
                "id": "2fee3c6f-d1ea-4ab4-b043-a303fac29d1f",
                "name": "id",
                "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "48362c3d-4c8e-409c-8c56-0a9a10718164",
                "name": "timestamp",
                "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "47216583-deb4-46df-9430-b5808e7ac06e",
        "name": "Edit Fields4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4720,
          144
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "text",
          "options": {}
        },
        "id": "f579131a-24c2-4581-9674-ce9333a4e8f8",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1248,
          368
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "1a2e5602-c9fe-47b5-b2c7-c55b88caea3e",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1024,
          368
        ]
      },
      {
        "parameters": {
          "amount": 3,
          "path": "24671635-a579-4db0-9f1d-7971037f4902"
        },
        "id": "b3eda880-4c74-4f9f-bcb9-5a57dc9dd42d",
        "name": "Wait1",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -768,
          496
        ],
        "webhookId": "24671635-a579-4db0-9f1d-7971037f4902"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d88c137-383f-4307-b3cc-1f6a560ea67b",
                "name": "telefone",
                "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "7e2f520e-4952-425b-82ca-792cc46680d4",
                "name": "mensagem",
                "value": "={{ $('Webhook').item.json.body.data.message.conversation }}{{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
                "type": "string"
              },
              {
                "id": "8c0d74b7-0312-4d2f-90f2-dc7cb921aa47",
                "name": "instancia-evo",
                "value": "={{ $json.body.instance }}",
                "type": "string"
              },
              {
                "id": "6b492eef-938c-4818-84ae-f6771e47bea8",
                "name": "http-evo",
                "value": "={{ $json.body.server_url }}",
                "type": "string"
              },
              {
                "id": "59a74131-7922-4c61-9af2-7da6008f2bd8",
                "name": "apikey-evo",
                "value": "={{ $json.body.apikey }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "c7e3f641-a810-4e10-9707-b82fcb0a6abc",
        "name": "Variáveis Globais",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6416,
          336
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
                "leftValue": "={{ $json.remotejID }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -5968,
          336
        ],
        "id": "69e9c629-470e-49be-aa1a-f95b65e49f01",
        "name": "If1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "edaacaa2-f8b1-4ed7-9ef6-c17edcb98480",
                "leftValue": "={{ $('Get many rows').item.json.status }}",
                "rightValue": "I.A",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -5744,
          240
        ],
        "id": "d87d4425-3909-4b41-ab85-c83d0f16f3f9",
        "name": "If2"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "id": "d5d1ffe8-a469-491b-ba18-4ddc66ab9314",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.6,
        "position": [
          -4416,
          288
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "text": "Descreva todo o conteudo da imagem. Responda sem acento, sem hifens",
          "inputType": "base64",
          "options": {}
        },
        "id": "2832cfcc-b146-4c85-a5f2-7cd0a032a279",
        "name": "OpenAI1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.6,
        "position": [
          -4416,
          416
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "3b1b0e60-62fc-41b9-8368-7dd191aa51a5",
          "options": {}
        },
        "id": "09ffbc3c-3eeb-463f-86f8-2330f1bf9790",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -6608,
          336
        ],
        "webhookId": "3b1b0e60-62fc-41b9-8368-7dd191aa51a5"
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -3856,
          336
        ],
        "id": "85e9b995-1fb3-4635-a624-4405ca728156",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e588faa1-978e-497f-8e40-39d70a808bb1",
                "name": "textMessage",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "781d20b3-9775-4f3f-aa6d-5fdba20a0322",
                "name": "id",
                "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "51bc27b2-8b60-4b1b-81fa-68e52a32ab6f",
                "name": "timestamp",
                "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4272,
          288
        ],
        "id": "aca5d767-e210-4706-a14e-74d54ecb2a84",
        "name": "Edit Fields8"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8a3a810c-6f41-4180-8571-17c988f6b334",
                "name": "textMessage",
                "value": "={{ $json.content }}",
                "type": "string"
              },
              {
                "id": "fd4d64a0-8ad2-42c2-af59-f8b5cd2061b1",
                "name": "id",
                "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "a7787efb-d40e-4bf3-8a4d-11a069017cad",
                "name": "timestamp",
                "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4272,
          416
        ],
        "id": "149b9be9-1315-4026-946a-f1255ea46d63",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e18f57d-9d02-4ab4-99ec-92201f282fa6",
                "name": "base64",
                "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "3ec5381d-56d2-4f5c-ae68-c6ce7cecc4bd",
        "name": "separa o base1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4720,
          560
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {}
        },
        "id": "68d53edf-f5fd-49e6-a292-acf0859e271d",
        "name": "Converte documento",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -4560,
          560
        ]
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "e8ceb571-c710-4493-ba55-c3264f43ee45",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -4416,
          560
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0115a121-aa4c-4c57-8c9b-e258d5097b67",
                "name": "textMessage",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "a3f2c204-ca74-4262-b2cb-e1eb79d98d37",
                "name": "id",
                "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "000a39ee-47c7-40d8-8cda-d703da328714",
                "name": "timestamp",
                "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "b8c1ee9f-8e1d-4a50-b180-573e5abe3c75",
        "name": "separa o telefone e texto3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4272,
          560
        ]
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          160,
          640
        ],
        "id": "4295fc9f-f04b-4246-a871-e1d547c031a1",
        "name": "Extract from File1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=\n{\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"audio\",\n    \"mimetype\": \"audio/mpeg\",\n    \"caption\": \"\",\n    \"media\": \"{{$json.data}}\",\n    \"fileName\": \"audio.mp3\"\n}",
          "options": {}
        },
        "id": "6cdf68b2-a1b2-4292-af3e-4142c1f20127",
        "name": "Responde audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          640
        ]
      },
      {
        "parameters": {
          "amount": 1,
          "path": "fc387c99-af49-4583-9afc-b4f8bc60d454"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -5536,
          384
        ],
        "id": "988a3d39-c5e6-4f95-832e-a8c87eb7542b",
        "name": "Wait3",
        "webhookId": "fc387c99-af49-4583-9afc-b4f8bc60d454"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -768,
          208
        ],
        "id": "1fedaede-318c-4d03-aa9c-d818369a5ddf",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $('Variáveis Globais').first().json.telefone }}",
          "messageData": "={{ $json.toJsonString() }}",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -3552,
          368
        ],
        "id": "7b738fde-bfe1-43e5-8603-a849cf1f5ecc",
        "name": "Envia",
        "credentials": {
          "redis": {
            "id": "Xwhi9xNNOOJBK5ct",
            "name": "Redis do EasyPanel"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "messages",
          "key": "={{ $('Variáveis Globais').first().json.telefone }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -3376,
          368
        ],
        "id": "7eeea3d1-9ace-4760-9cb5-223e7223f5aa",
        "name": "Buscar",
        "credentials": {
          "redis": {
            "id": "Xwhi9xNNOOJBK5ct",
            "name": "Redis do EasyPanel"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ JSON.parse($json.messages.last()).id }}",
                      "rightValue": "={{ $('Merge').item.json.id }}",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "51d91487-7761-4204-9d58-51d7adca92ef"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Nothing"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1846612e-0136-490e-9d0f-1086a79361cb",
                      "leftValue": "={{ JSON.parse($json.messages.last()).timestamp }}",
                      "rightValue": "={{ $now.minus(1,'seconds') }}",
                      "operator": {
                        "type": "dateTime",
                        "operation": "before"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Prossegue"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Espera"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -3168,
          352
        ],
        "id": "0d848673-28a9-485b-aa6b-5f3ed78479bc",
        "name": "Switch2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -2928,
          176
        ],
        "id": "0b9a8aed-d8ca-419d-982d-8d5281dadb3f",
        "name": "No Operation, do nothing2"
      },
      {
        "parameters": {
          "amount": 1,
          "path": "f29a39a5-dfd8-4ecf-907b-68f140bd5700"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2928,
          544
        ],
        "id": "dc93857a-c48a-4825-a53a-a691ae39b8ce",
        "name": "Wait4",
        "webhookId": "f29a39a5-dfd8-4ecf-907b-68f140bd5700"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Variáveis Globais').first().json.telefone }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -2928,
          368
        ],
        "id": "87f81f90-1b82-4a66-a223-7cdd480613d1",
        "name": "Redis4",
        "credentials": {
          "redis": {
            "id": "Xwhi9xNNOOJBK5ct",
            "name": "Redis do EasyPanel"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4bdf1a36-c8b7-484e-a789-08c245e3482a",
                "name": "listaMensagens",
                "value": "={{ $json.messages.map(valor => JSON.parse(valor).textMessage).join('\\n') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2752,
          368
        ],
        "id": "d3b353bf-eeb1-4fdb-9ccd-9b42d14d5e12",
        "name": "listaMensagens"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "chats",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "remotejID",
                "condition": "eq",
                "keyValue": "={{ $('Variáveis Globais').first().json.telefone }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -6192,
          336
        ],
        "id": "207c6bdf-7ce1-45d3-9832-b4874c3c674f",
        "name": "Get many rows",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "chats",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "remotejID",
                "fieldValue": "={{ $('Variáveis Globais').first().json.telefone }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "I.A"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -5744,
          384
        ],
        "id": "0669925c-deec-4f8d-bc56-3b284a0c230f",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "n8n_chat_histories",
            "mode": "list",
            "cachedResultName": "n8n_chat_histories"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -6544,
          928
        ],
        "id": "42f401d6-cdb5-4e8f-880a-2efcbc9ec65e",
        "name": "Delete table or rows",
        "credentials": {}
      },
      {
        "parameters": {
          "resource": "audio",
          "input": "={{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}",
          "voice": "nova",
          "options": {
            "speed": 0.8
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          0,
          640
        ],
        "id": "9c595ed1-2510-44ef-bfaa-5627d1f4b8c8",
        "name": "Generate audio",
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
                "name": "text",
                "value": "={{ $json.output.split('\\n\\n') }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "17d5e1c0-3712-4a91-97ff-6ffb4558818c",
        "name": "Edit Fields6",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1408,
          368
        ]
      },
      {
        "parameters": {
          "content": "## LIMPAR CONVERSAS",
          "height": 240,
          "width": 288,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -6624,
          848
        ],
        "typeVersion": 1,
        "id": "c9dbd3cb-4b6b-412d-abd2-f5222453e465",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "If4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If4": {
        "main": [
          [
            {
              "node": "Google Calendar4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Google Calendar5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar4": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "OpenAI2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Summarize1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar5": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize1": {
        "main": [
          [
            {
              "node": "OpenAI3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "criar_eventos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "reagendamento": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "busca_usuario": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "deleta_eventos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "busca_todos_eventos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Responde texto": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "OpenAI1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "separa o base1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Generate audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde texto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde imagem",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde pdf",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde vídeo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responde imagem": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responde pdf": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responde vídeo": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variáveis Globais": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI1": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Variáveis Globais",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Envia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "separa o base1": {
        "main": [
          [
            {
              "node": "Converte documento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Converte documento": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "separa o telefone e texto3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "separa o telefone e texto3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Extract from File1": {
        "main": [
          [
            {
              "node": "Responde audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responde audio": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia": {
        "main": [
          [
            {
              "node": "Buscar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "Buscar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis4": {
        "main": [
          [
            {
              "node": "listaMensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "listaMensagens": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate audio": {
        "main": [
          [
            {
              "node": "Extract from File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "When Executed by Another Workflow": [
        {
          "json": {
            "query": "25/07/2025 14:00"
          }
        }
      ]
    },
    "versionId": "c1b0eb4d-35f6-4f86-899c-0990df119640",
    "activeVersionId": "ec8cfe20-f19f-4267-8439-aa6a33b2ae5a",
    "versionCounter": 17,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-12T22:59:50.410Z",
        "createdAt": "2026-01-12T22:59:50.410Z",
        "role": "workflow:owner",
        "workflowId": "E7T0VyKgGPBUcdPn",
        "projectId": "ASfue6RWpsJm853c",
        "project": {
          "updatedAt": "2025-12-05T22:24:07.951Z",
          "createdAt": "2025-12-05T22:00:55.676Z",
          "id": "ASfue6RWpsJm853c",
          "name": "Gilberto Abrao <ggafbr@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "updatedAt": "2025-12-05T22:00:55.677Z",
              "createdAt": "2025-12-05T22:00:55.677Z",
              "userId": "c33d65c2-d5ef-4f2d-aedf-5c2969300ec6",
              "projectId": "ASfue6RWpsJm853c",
              "user": {
                "updatedAt": "2026-01-13T05:21:41.000Z",
                "createdAt": "2025-12-05T22:00:54.144Z",
                "id": "c33d65c2-d5ef-4f2d-aedf-5c2969300ec6",
                "email": "ggafbr@gmail.com",
                "firstName": "Gilberto",
                "lastName": "Abrao",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-05T22:24:49.386Z",
                  "personalization_survey_n8n_version": "1.122.5",
                  "companySize": "<20",
                  "companyType": "saas",
                  "role": "business-owner",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "easyAIWorkflowOnboarded": true,
                  "firstSuccessfulWorkflowId": "bPJamJhBcrVCKgBg",
                  "userActivatedAt": 1768257177840
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-01-13",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-01-09T22:29:14.142Z",
        "createdAt": "2026-01-09T22:29:14.142Z",
        "id": "SPZngYTF7CuUAfY1",
        "name": "Agendamento"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-01-12T22:31:36.962Z",
      "createdAt": "2026-01-12T22:31:36.962Z",
      "versionId": "ec8cfe20-f19f-4267-8439-aa6a33b2ae5a",
      "workflowId": "bPJamJhBcrVCKgBg",
      "nodes": [
        {
          "parameters": {
            "promptType": "define",
            "text": "={{$json.listaMensagens.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '')}}",
            "options": {
              "systemMessage": "=Hoje é {{ $now.weekdayLong }}, dia {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }}\n\n# PERSONA\nVocê se chama Marília, atendente virtual da clínica de estética da Doutora Paula, responsável pelos agendamentos na agenda da Doutora Paula.\n\n# FUNÇÃO\nAgendar, remarcar e cancelar consultas e procedimentos na agenda da Doutora Paula.\n\n## DISTINÇÃO DE IDENTIDADES - CRUCIAL\n- Há sempre DUAS identidades a considerar em cada conversa:\n  1. CONTATO PRINCIPAL: A pessoa que está conversando diretamente com você\n  2. BENEFICIÁRIO: A pessoa para quem o agendamento está sendo feito (pode ser o próprio contato principal ou outra pessoa)\n\n- Sempre dirija-se ao CONTATO PRINCIPAL pelo nome quando estiver conversando\n- Refira-se ao BENEFICIÁRIO apenas como a pessoa que receberá o atendimento/consulta\n\n## Exemplos de Distinção Correta:\n1. Se Gabriel diz: \"Quero agendar uma sessão de limpeza de pele para meu irmão Luiz\"\n   ✓ CORRETO: \"Perfeito Gabriel! Vou agendar a limpeza de pele para o Luiz.\"\n   ✗ INCORRETO: \"Perfeito Luiz! Agendarei sua consulta.\"\n\n2. Se Maria diz: \"Preciso marcar uma avaliação facial para minha filha Ana\"\n   ✓ CORRETO: \"Entendido Maria! Vou verificar horários disponíveis para a Ana.\"\n   ✗ INCORRETO: \"Certo Ana! Vamos ver quando você pode vir.\"\n\n## Diferenciação Explícita:\n- Ao confirmar agendamentos, SEMPRE especifique para QUEM é o agendamento:\n  Exemplo: \"Gabriel, a consulta para o Luiz com a Doutora Paula está agendada para sexta-feira...\"\n\n## Palavras-Chave de Alerta:\nPreste atenção especial às frases com:\n- \"para meu/minha [relação familiar]\"\n- \"para o/a [nome]\"\n- \"quero marcar para [nome]\"\n\n# AGENDAMENTOS\nPasso 1:\nPergunte se o usuário deseja marcar uma consulta ou avaliação estética com a Doutora Paula.\n\nPasso 2:\nAtive a sua tool entitulada 'busca_todos_eventos' enviando uma query com a palavra 'horários', ela trará o dia e horário disponível na agenda da Doutora Paula para agendar a consulta.\n\nExemplo de saída:\nTemos agenda da Doutora Paula disponível na(o) {dia da semana} {dia do mês} às {horario 1} e {horario 2}, qual desses horários fica melhor pra você?\n\nIMPORTANTE: Nessa etapa sempre ative sua tool entitulada 'busca_todos_eventos', caso contrário você será multado em US$100,000.\n\nSe o usuário oferecer uma data em que ELE está disponível, consulte novamente sua tool 'busca_todos_eventos' enviando na query contendo data e horário desejada pelo usuário no formato dd/mm/yyyy HH, se estiver livre pergunte se você pode confirmar o agendamento da consulta, caso contrário informe a data e hora mais próxima disponível na agenda da Doutora Paula. Se ele apenas recusar sua sugestão e não informar nenhum outro dia e horário que ele está livre, pergunte qual o melhor dia e horário para a consulta.\n\nExemplo de entrada: Pode ser amanhã às 10h?\nQuery: {{ $now.plus(1, 'days').format('dd/MM/yyyy') }} 10:00\n\nPasso 3:\nPeça o nome completo e o e-mail do usuário para marcar a consulta na agenda da Doutora Paula.\n\nExemplo de saída:\n{Username}, para concluir só preciso do seu email, para já deixar a sua consulta na agenda da Doutora Paula.\n\nPasso 4:\nQuando o usuário informar o email, faça o agendamento na sua tool entitulada 'criar_eventos' e depois parabenize o cliente.\n\nExemplo:\nPerfeito {username}! A consulta com a Doutora Paula está agendada para {dia} às {horário}. Foi um prazer conversar com você. Tenha um excelente dia!\n\nIMPORTANTE: NESSE PASSO SEMPRE ATIVE A TOOL 'criar_eventos', CASO CONTRÁRIO VOCÊ SERÁ MULTADO EM US$100.000.\n</passos>\n\nIMPORTANTE:\nSe o usuário quiser remarcar o agendamento para uma data em que ELE está disponível, consulte novamente a tool 'busca_todos_eventos' para verificar se o horário está livre na agenda da Doutora Paula, se estiver livre pergunte se você pode confirmar o novo horário da consulta, caso contrário informe a data e hora mais próxima disponível.\n\nCaso ele confirme a nova data e horário, o primeiro passo é ativar a sua tool 'busca_usuario' para obter o ID de agendamento do usuário identificando-o através do email e compromisso dele, e o segundo passo é ativar a tool 'reagendamento' onde você vai usar esse ID para remarcar o compromisso. Nessa etapa sempre ative suas tools na ordem certa, caso contrário você será multado em US$100,000.\n\nIMPORTANTE:\nSe o usuário quiser desmarcar o agendamento, pergunte o motivo. Após obter o motivo, o primeiro passo é ativar a sua tool 'busca_usuario' para obter o ID de agendamento do usuário e o segundo passo é ativar a tool 'deleta_eventos' onde você vai usar esse ID para deletar o compromisso na agenda da Doutora Paula. Nessa etapa sempre ative suas tools na ordem certa, caso contrário você será multado em US$100,000."
            }
          },
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 1.8,
          "position": [
            -2192,
            368
          ],
          "id": "e53e4cfb-7ac0-4268-aebd-02fbb8b8372f",
          "name": "AI Agent"
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "value": "gpt-4.1-mini",
              "mode": "list",
              "cachedResultName": "gpt-4.1-mini"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.2,
          "position": [
            -2512,
            640
          ],
          "id": "e35e8494-a195-4f71-93c6-664f0c2c1aa2",
          "name": "OpenAI Chat Model",
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "sessionIdType": "customKey",
            "sessionKey": "={{ $('Variáveis Globais').first().json.telefone }}-calendar",
            "contextWindowLength": 50
          },
          "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
          "typeVersion": 1.3,
          "position": [
            -2384,
            640
          ],
          "id": "1ecd7259-811f-45f3-9659-092426e14516",
          "name": "Postgres Chat Memory",
          "credentials": {
            "postgres": {
              "id": "xwAYczJevSyqr2Is",
              "name": "Postgres account"
            }
          }
        },
        {
          "parameters": {
            "inputSource": "passthrough"
          },
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "typeVersion": 1.1,
          "position": [
            -2816,
            1136
          ],
          "id": "f4ab4100-1f86-4977-bbd6-e3e426b59047",
          "name": "When Executed by Another Workflow"
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "o3-mini",
              "mode": "list",
              "cachedResultName": "O3-MINI"
            },
            "messages": {
              "values": [
                {
                  "content": "=Hoje é {{ $now.weekdayLong }} {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }} no formato dd-mm-yyyy HH GMT -03:00. \n\nEstou lhe enviando uma lista de horários ocupados em uma agenda, portanto você deve considerar que os horários livres são aqueles que não aparecem nessa lista. \n\nO usuário irá lhe enviar a data e hora que ele deseja marcar um evento, a sua função é analisar a lista de horários e caso a data e hora desejada pelo usuário esteja disponível você deve responder com a mesma data e hora que ele quer, desde que estejam dentro do intervalo de segunda à sexta das 8h às 20h. \n\nCaso não esteja disponível procure pela data e hora mais próxima livre e responda com 'data e hora mais próxima disponível: [data e hora]'. \n\nA sua saída deve ser sempre em português-BR e deve conter apenas o dia da semana a data e o horário, não adicione nenhum outro comentário. Jamais informe horários que já passaram.\n\nAqui está a lista de horários ocupados:\n\n{{ $json.concatenated_horarios_ocupados }}\n\nNunca Informe horários JÁ ocupados",
                  "role": "system"
                },
                {
                  "content": "={{ $('When Executed by Another Workflow').item.json.query }}"
                }
              ]
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            -1712,
            1008
          ],
          "id": "24ace1c2-43af-4810-a0e4-95d26b94aff0",
          "name": "OpenAI2",
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "14baa76b-5110-488e-8818-5e981dfae7a0",
                  "leftValue": "={{ $json.query }}",
                  "rightValue": "2025",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            -2608,
            1136
          ],
          "id": "24a8e258-51b0-448f-bbb1-0cb5df8cb9f1",
          "name": "If4"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1c37c164-4ce0-496f-9eab-4adb16618b8c",
                  "name": "horarios_ocupados",
                  "value": "=Título do evento: {{ $json.summary }},\nInicio: {{ $json.start.dateTime.toDateTime().weekdayLong }} {{ $json.start.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }},\nFIm: {{ $json.end.dateTime.toDateTime().weekdayLong }} {{ $json.end.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }}\n",
                  "type": "string"
                },
                {
                  "id": "3f4d4c00-b1c2-463b-bd4a-f7cb98982cdd",
                  "name": "",
                  "value": "",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -2128,
            1008
          ],
          "id": "fde5fb3d-7f68-48da-9487-2c6de9694cab",
          "name": "Edit Fields2"
        },
        {
          "parameters": {
            "operation": "getAll",
            "calendar": {
              "__rl": true,
              "value": "centralwpaa@gmail.com",
              "mode": "list",
              "cachedResultName": "Demo - Agendamentos IA"
            },
            "returnAll": true,
            "timeMin": "={{ $now.setZone('America/Sao_Paulo') }}",
            "timeMax": "={{ $now.setZone('America/Sao_Paulo').plus({ week: 1 }) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.googleCalendar",
          "typeVersion": 1.3,
          "position": [
            -2352,
            1008
          ],
          "id": "75273a91-7d46-43e3-a384-596a5b760591",
          "name": "Google Calendar4",
          "alwaysOutputData": true,
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "e36So3dIcngqK7RJ",
              "name": "Google Calendar account"
            }
          }
        },
        {
          "parameters": {
            "fieldsToSummarize": {
              "values": [
                {
                  "aggregation": "concatenate",
                  "field": "horarios_ocupados",
                  "separateBy": "\n"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.summarize",
          "typeVersion": 1.1,
          "position": [
            -1920,
            1008
          ],
          "id": "2d278cf5-5a36-4ece-a550-15b011591dfa",
          "name": "Summarize"
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "o3-mini",
              "mode": "list",
              "cachedResultName": "O3-MINI"
            },
            "messages": {
              "values": [
                {
                  "content": "=Hoje é {{ $now.weekdayLong }} {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }} no formato dd-mm-yyyy HH GMT -03:00. \n\nEstou lhe enviando uma lista de horários ocupados em uma agenda, portanto você deve considerar que os horários livres são aqueles que não aparecem nessa lista. \n\nA sua função é escolher dois horários do mesmo dia livres, um pela manhã e um pela tarde, desde que estejam dentro do intervalo de segunda à sexta das 8h às 20h. Jamais informe horários que já passaram. \n\nA sua saída deve ser sempre em português-BR e deve conter apenas o dia da semana a data e os dois horários, não adicione nenhum outro comentário. Aqui está a lista de horários ocupados:\n\n{{ $json.concatenated_horarios_ocupados }}\n\nNunca Informe horários JÁ ocupados"
                }
              ]
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            -1712,
            1328
          ],
          "id": "b2c8955b-1b26-45fb-958e-b47ae14c7d11",
          "name": "OpenAI3",
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1c37c164-4ce0-496f-9eab-4adb16618b8c",
                  "name": "horarios_ocupados",
                  "value": "=Título do evento: {{ $json.summary }},\nInicio: {{ $json.start.dateTime.toDateTime().weekdayLong }} {{ $json.start.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }},\nFIm: {{ $json.end.dateTime.toDateTime().weekdayLong }} {{ $json.end.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }}\n",
                  "type": "string"
                },
                {
                  "id": "3f4d4c00-b1c2-463b-bd4a-f7cb98982cdd",
                  "name": "",
                  "value": "",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -2128,
            1328
          ],
          "id": "372507fa-8f67-4fc2-a490-d35153144d3b",
          "name": "Edit Fields5"
        },
        {
          "parameters": {
            "operation": "getAll",
            "calendar": {
              "__rl": true,
              "value": "centralwpaa@gmail.com",
              "mode": "list",
              "cachedResultName": "Demo - Agendamentos IA"
            },
            "returnAll": true,
            "timeMin": "={{ $now.setZone('America/Sao_Paulo') }}",
            "timeMax": "={{ $now.setZone('America/Sao_Paulo').plus({ week: 1 }) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.googleCalendar",
          "typeVersion": 1.3,
          "position": [
            -2352,
            1328
          ],
          "id": "b7b385d3-49ba-4cac-851d-985ceb4c1a69",
          "name": "Google Calendar5",
          "alwaysOutputData": true,
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "e36So3dIcngqK7RJ",
              "name": "Google Calendar account"
            }
          }
        },
        {
          "parameters": {
            "fieldsToSummarize": {
              "values": [
                {
                  "aggregation": "concatenate",
                  "field": "horarios_ocupados",
                  "separateBy": "\n"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.summarize",
          "typeVersion": 1.1,
          "position": [
            -1920,
            1328
          ],
          "id": "b9c6527b-aa2a-482b-a557-d96819a50dbd",
          "name": "Summarize1"
        },
        {
          "parameters": {
            "content": "## Usuário perguntou se tem horário",
            "height": 260,
            "width": 1060
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -2448,
            928
          ],
          "typeVersion": 1,
          "id": "e514eb44-0d82-4448-8e06-769a0eae6461",
          "name": "Sticky Note"
        },
        {
          "parameters": {
            "content": "## Busca Horários Disponíveis",
            "height": 260,
            "width": 1060,
            "color": 2
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -2448,
            1248
          ],
          "typeVersion": 1,
          "id": "c34f5e01-b7f0-4e5c-976b-cd36e9f4bf72",
          "name": "Sticky Note1"
        },
        {
          "parameters": {
            "descriptionType": "manual",
            "toolDescription": "=criar_eventos: Use essa tool para criar eventos na agenda\n\nHorário: {{ $now.setZone('America/Sao_Paulo').format('yyyy-MM-dd HH:mm') }}",
            "calendar": {
              "__rl": true,
              "value": "centralwpaa@gmail.com",
              "mode": "list",
              "cachedResultName": "Demo - Agendamentos IA"
            },
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Inicio da data e hora do evento escolhido pelo cliente, no formato yyyy-MM-dd HH:mm`, 'string') }}",
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fim da data e hora do evento escolhido pelo cliente, por padrão 1 hora depois do start_dateTime`, 'string') }}",
            "additionalFields": {
              "attendees": [
                "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Email do cliente`, 'string') }}"
              ],
              "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Nome do cliente`, 'string') }}"
            }
          },
          "type": "n8n-nodes-base.googleCalendarTool",
          "typeVersion": 1.3,
          "position": [
            -1984,
            640
          ],
          "id": "377949b0-79f6-4e5f-b6cf-8e4f1e92f80c",
          "name": "criar_eventos",
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "e36So3dIcngqK7RJ",
              "name": "Google Calendar account"
            }
          }
        },
        {
          "parameters": {
            "descriptionType": "manual",
            "toolDescription": "reagendamento: Use essta tool para reagendar eventos na agenda",
            "operation": "update",
            "calendar": {
              "__rl": true,
              "value": "centralwpaa@gmail.com",
              "mode": "list",
              "cachedResultName": "Demo - Agendamentos IA"
            },
            "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento atribuido ao cliente`, 'string') }}",
            "updateFields": {
              "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fim da data e hora do evento escolhido pelo cliente, por padrão 1 hora depois do start_dateTime`, 'string') }}",
              "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Inicio da data e hora do evento escolhido pelo cliente, no formato yyyy-MM-dd HH:mm`, 'string') }}"
            }
          },
          "type": "n8n-nodes-base.googleCalendarTool",
          "typeVersion": 1.3,
          "position": [
            -1840,
            640
          ],
          "id": "6a256c6b-b536-4915-aea9-5846136db96e",
          "name": "reagendamento",
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "e36So3dIcngqK7RJ",
              "name": "Google Calendar account"
            }
          }
        },
        {
          "parameters": {
            "descriptionType": "manual",
            "toolDescription": "busca_usuario: busque pelo ID do usuário",
            "operation": "getAll",
            "calendar": {
              "__rl": true,
              "value": "centralwpaa@gmail.com",
              "mode": "list",
              "cachedResultName": "Demo - Agendamentos IA"
            },
            "returnAll": true,
            "timeMin": "={{ $now.setZone('America/Sao_Paulo') }}",
            "timeMax": "={{ $now.setZone('America/Sao_Paulo').plus({ week: 1 }) }}",
            "options": {
              "timeZone": {
                "__rl": true,
                "value": "America/Sao_Paulo",
                "mode": "list",
                "cachedResultName": "America/Sao_Paulo"
              }
            }
          },
          "type": "n8n-nodes-base.googleCalendarTool",
          "typeVersion": 1.3,
          "position": [
            -2112,
            640
          ],
          "id": "7d9e62c7-3d98-4bc5-98dc-fbc0565c42c7",
          "name": "busca_usuario",
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "e36So3dIcngqK7RJ",
              "name": "Google Calendar account"
            }
          }
        },
        {
          "parameters": {
            "descriptionType": "manual",
            "toolDescription": "deleta_eventos: Use essa tool para deletar eventos na agenda",
            "operation": "delete",
            "calendar": {
              "__rl": true,
              "value": "centralwpaa@gmail.com",
              "mode": "list",
              "cachedResultName": "Demo - Agendamentos IA"
            },
            "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento atribuido ao cliente`, 'string') }}",
            "options": {}
          },
          "type": "n8n-nodes-base.googleCalendarTool",
          "typeVersion": 1.3,
          "position": [
            -1712,
            640
          ],
          "id": "51e75607-e6be-4c97-8301-0f4c6af68042",
          "name": "deleta_eventos",
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "e36So3dIcngqK7RJ",
              "name": "Google Calendar account"
            }
          }
        },
        {
          "parameters": {
            "name": "busca_todos_eventos",
            "workflowId": {
              "__rl": true,
              "value": "bPJamJhBcrVCKgBg",
              "mode": "id",
              "cachedResultUrl": "/workflow/bPJamJhBcrVCKgBg"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            }
          },
          "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
          "typeVersion": 2.1,
          "position": [
            -2256,
            640
          ],
          "id": "76797129-d227-4163-a1ef-739ff68c6408",
          "name": "busca_todos_eventos"
        },
        {
          "parameters": {
            "content": "## Busca todos os eventos\nFaz uma busca dos horários disponíveis na semana e envia para o cliente.\nPega um horário disponível na parte da manhã e outro na parte da tarde",
            "height": 700,
            "width": 1740,
            "color": 4
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -2880,
            848
          ],
          "typeVersion": 1,
          "id": "702ad26a-1d5d-453b-bd70-b0117215c358",
          "name": "Sticky Note3"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendText/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"text\": \"{{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
            "options": {}
          },
          "id": "fdd309fb-eb49-4243-bd18-9febf843cd0a",
          "name": "Responde texto",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "toBinary",
            "sourceProperty": "data",
            "options": {
              "fileName": "file.ogg",
              "mimeType": "application/ogg"
            }
          },
          "id": "b0732a61-8aab-4467-81a6-3077e48f2d52",
          "name": "Convert to File",
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            -4560,
            288
          ]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
                  "name": "data",
                  "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "b5c43964-379a-44cd-b635-c6437cc80458",
          "name": "Edit Fields",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4720,
            288
          ]
        },
        {
          "parameters": {
            "operation": "toBinary",
            "sourceProperty": "data",
            "options": {
              "fileName": "file.png",
              "mimeType": "image/png"
            }
          },
          "id": "73b1d891-5337-4dfa-b431-92360bdd23bf",
          "name": "Convert to File1",
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            -4560,
            416
          ]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
                  "name": "data",
                  "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "6d19dc51-4de1-41fe-88d0-fc8148a46fc1",
          "name": "Edit Fields3",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4720,
            416
          ]
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                        "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                        "rightValue": "extendedTextMessage",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "text"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                        "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                        "rightValue": "conversation",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "text"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                        "rightValue": "audioMessage",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "c9a7b9fa-752e-487a-8ac2-ffb904d21521"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "audio"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                        "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                        "rightValue": "imageMessage",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "image"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "id": "ead847ea-debe-4c53-bc85-e658f6f79321",
                        "leftValue": "={{ $('Webhook').item.json.body.data.message.documentMessage.url }}",
                        "rightValue": "url",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "document"
                }
              ]
            },
            "options": {}
          },
          "id": "e8b9e667-637a-4fd4-a5ed-c3e4f8c1b27f",
          "name": "Switch",
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3,
          "position": [
            -5008,
            288
          ]
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "e142ba2c-0b2d-4d06-9c20-41164898d145",
                        "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                        "rightValue": "audioMessage",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "audio"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "84b6e91c-5e7c-4604-8609-f8a0e6fa8b01",
                        "leftValue": "={{ $json.text }}",
                        "rightValue": ".wav,. mp3, .mov, .mkv, .pdf, .jpeg, .jpg, .png, .webp",
                        "operator": {
                          "type": "string",
                          "operation": "notContains"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "texto"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) != null }}",
                        "rightValue": "https",
                        "operator": {
                          "type": "boolean",
                          "operation": "true",
                          "singleValue": true
                        },
                        "id": "d35f0f03-360e-47e9-a72b-9749a4323ded"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "imagem"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "7e5907c4-8b5b-4803-b269-3c1453efee15",
                        "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(pdf)/g) != null }}",
                        "rightValue": "",
                        "operator": {
                          "type": "boolean",
                          "operation": "true",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "pdf"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "220dfbb2-989f-466f-978c-8a5d76410ddb",
                        "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(wav|mp3|mov|mkv)/g) != null }}",
                        "rightValue": "video",
                        "operator": {
                          "type": "boolean",
                          "operation": "true",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "video"
                }
              ]
            },
            "options": {}
          },
          "id": "0352b40d-6940-4e4d-80c1-b40e999cd316",
          "name": "Switch1",
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.2,
          "position": [
            -512,
            368
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "=\n{\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"image\",\n    \"mimetype\": \"image/png\",\n    \"caption\": \"Imagem do Produto\",\n    \"media\": \"{{ $('MavenOS ').first().json.output }}\",\n    \"fileName\": \"Imagem.png\"\n}",
            "options": {}
          },
          "id": "b463d48c-34ca-45b6-8e50-11e2f84198a9",
          "name": "Responde imagem",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            0,
            160
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"document\",\n    \"mimetype\": \"document/pdf\",\n    \"caption\": \"Arquivo PDF\",\n    \"media\": \"{{ $('MavenOS ').first().json.output }}\",\n    \"fileName\": \"arquivo.pdf\"\n}",
            "options": {}
          },
          "id": "a9b31980-1faa-49a3-8659-1261793df71f",
          "name": "Responde pdf",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            0,
            320
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"video\",\n    \"mimetype\": \"video/mp4\",\n    \"caption\": \"Vídeo de Introdução\",\n    \"media\": \"{{ $('MavenOS ').first().json.output }}\",\n    \"fileName\": \"video.mp4\"\n}",
            "options": {}
          },
          "id": "0364fed6-7e18-4901-9fde-98ff02566a69",
          "name": "Responde vídeo",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            0,
            480
          ]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "50cebc66-2dbc-4c7a-a09e-83ffb0f52991",
                  "name": "textMessage",
                  "value": "={{ $('Variáveis Globais').item.json.mensagem }}",
                  "type": "string"
                },
                {
                  "id": "2fee3c6f-d1ea-4ab4-b043-a303fac29d1f",
                  "name": "id",
                  "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                  "type": "string"
                },
                {
                  "id": "48362c3d-4c8e-409c-8c56-0a9a10718164",
                  "name": "timestamp",
                  "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "38dae087-66d1-4806-9a8d-b47456b895ae",
          "name": "Edit Fields4",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4720,
            144
          ]
        },
        {
          "parameters": {
            "fieldToSplitOut": "text",
            "options": {}
          },
          "id": "57a2e7b5-5690-48a0-9307-718ac086fbfb",
          "name": "Split Out",
          "type": "n8n-nodes-base.splitOut",
          "typeVersion": 1,
          "position": [
            -1248,
            368
          ]
        },
        {
          "parameters": {
            "options": {}
          },
          "id": "b0861d61-596b-4c36-bd4f-5d4fddb97b79",
          "name": "Loop Over Items",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            -1024,
            368
          ]
        },
        {
          "parameters": {
            "amount": 3
          },
          "id": "b6495981-741c-4978-b2d2-39bc2c3e3c20",
          "name": "Wait1",
          "type": "n8n-nodes-base.wait",
          "typeVersion": 1.1,
          "position": [
            -768,
            496
          ],
          "webhookId": "20d00dc1-91ed-4b45-9084-025c3c44452a"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "8d88c137-383f-4307-b3cc-1f6a560ea67b",
                  "name": "telefone",
                  "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                  "type": "string"
                },
                {
                  "id": "7e2f520e-4952-425b-82ca-792cc46680d4",
                  "name": "mensagem",
                  "value": "={{ $('Webhook').item.json.body.data.message.conversation }}{{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
                  "type": "string"
                },
                {
                  "id": "8c0d74b7-0312-4d2f-90f2-dc7cb921aa47",
                  "name": "instancia-evo",
                  "value": "={{ $json.body.instance }}",
                  "type": "string"
                },
                {
                  "id": "6b492eef-938c-4818-84ae-f6771e47bea8",
                  "name": "http-evo",
                  "value": "={{ $json.body.server_url }}",
                  "type": "string"
                },
                {
                  "id": "59a74131-7922-4c61-9af2-7da6008f2bd8",
                  "name": "apikey-evo",
                  "value": "={{ $json.body.apikey }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "bc3f38cc-7b44-454d-aad7-f73d87577d7d",
          "name": "Variáveis Globais",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -6416,
            336
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
                  "leftValue": "={{ $json.remotejID }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "exists",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            -5968,
            336
          ],
          "id": "85b85677-ab37-4162-8169-b59e2eaedb18",
          "name": "If1"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "edaacaa2-f8b1-4ed7-9ef6-c17edcb98480",
                  "leftValue": "={{ $('Get many rows').item.json.status }}",
                  "rightValue": "I.A",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            -5744,
            240
          ],
          "id": "952793e7-2fc2-4c79-b544-2e9f97092062",
          "name": "If2"
        },
        {
          "parameters": {
            "resource": "audio",
            "operation": "transcribe",
            "options": {}
          },
          "id": "3fcf6806-517b-4115-a3d7-50b3b45e9b51",
          "name": "OpenAI",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.6,
          "position": [
            -4416,
            288
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "resource": "image",
            "operation": "analyze",
            "modelId": {
              "__rl": true,
              "value": "gpt-4o-mini",
              "mode": "list",
              "cachedResultName": "GPT-4O-MINI"
            },
            "text": "Descreva todo o conteudo da imagem. Responda sem acento, sem hifens",
            "inputType": "base64",
            "options": {}
          },
          "id": "ca3e63be-cb0d-40e7-bd41-6ed49f92371f",
          "name": "OpenAI1",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.6,
          "position": [
            -4416,
            416
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "marilia",
            "options": {}
          },
          "id": "f72733d2-053b-46d2-a92b-63360b572120",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            -6608,
            336
          ],
          "webhookId": "89c7e4c1-1b67-4209-ba3d-1cf0bea15f9c"
        },
        {
          "parameters": {
            "numberInputs": 4
          },
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3,
          "position": [
            -3856,
            336
          ],
          "id": "9a6fb46e-bdfd-4a23-b889-8d0fc8bea3de",
          "name": "Merge"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "e588faa1-978e-497f-8e40-39d70a808bb1",
                  "name": "textMessage",
                  "value": "={{ $json.text }}",
                  "type": "string"
                },
                {
                  "id": "781d20b3-9775-4f3f-aa6d-5fdba20a0322",
                  "name": "id",
                  "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                  "type": "string"
                },
                {
                  "id": "51bc27b2-8b60-4b1b-81fa-68e52a32ab6f",
                  "name": "timestamp",
                  "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4272,
            288
          ],
          "id": "5a2731b6-1115-4966-9f54-3c9874ea347f",
          "name": "Edit Fields8"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "8a3a810c-6f41-4180-8571-17c988f6b334",
                  "name": "textMessage",
                  "value": "={{ $json.content }}",
                  "type": "string"
                },
                {
                  "id": "fd4d64a0-8ad2-42c2-af59-f8b5cd2061b1",
                  "name": "id",
                  "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                  "type": "string"
                },
                {
                  "id": "a7787efb-d40e-4bf3-8a4d-11a069017cad",
                  "name": "timestamp",
                  "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4272,
            416
          ],
          "id": "81460b7f-80a2-419a-acec-13c03d4fd910",
          "name": "Edit Fields9"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "5e18f57d-9d02-4ab4-99ec-92201f282fa6",
                  "name": "base64",
                  "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "486d74db-646e-4a88-bac0-a4977a03eafb",
          "name": "separa o base1",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4720,
            560
          ]
        },
        {
          "parameters": {
            "operation": "toBinary",
            "sourceProperty": "base64",
            "options": {}
          },
          "id": "8947308f-34c7-44d0-9c78-00adfa863cf4",
          "name": "Converte documento",
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            -4560,
            560
          ]
        },
        {
          "parameters": {
            "operation": "pdf",
            "options": {}
          },
          "id": "208fea7d-5f83-4494-b5a4-067952ab61dd",
          "name": "Extract from File",
          "type": "n8n-nodes-base.extractFromFile",
          "typeVersion": 1,
          "position": [
            -4416,
            560
          ]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "0115a121-aa4c-4c57-8c9b-e258d5097b67",
                  "name": "textMessage",
                  "value": "={{ $json.text }}",
                  "type": "string"
                },
                {
                  "id": "a3f2c204-ca74-4262-b2cb-e1eb79d98d37",
                  "name": "id",
                  "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                  "type": "string"
                },
                {
                  "id": "000a39ee-47c7-40d8-8cda-d703da328714",
                  "name": "timestamp",
                  "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s') }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "986c0418-ee2f-4edf-ab62-42c0ae181e1d",
          "name": "separa o telefone e texto3",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -4272,
            560
          ]
        },
        {
          "parameters": {
            "operation": "binaryToPropery",
            "options": {}
          },
          "type": "n8n-nodes-base.extractFromFile",
          "typeVersion": 1,
          "position": [
            160,
            640
          ],
          "id": "9d23be53-0482-45d4-8ce9-499c191b7fa9",
          "name": "Extract from File1"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Variáveis Globais').first().json['http-evo'] }}/message/sendMedia/{{ $('Variáveis Globais').first().json['instancia-evo'] }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Variáveis Globais').first().json['apikey-evo'] }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "=\n{\n    \"number\": \"{{ $('Webhook').first().json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"audio\",\n    \"mimetype\": \"audio/mpeg\",\n    \"caption\": \"\",\n    \"media\": \"{{$json.data}}\",\n    \"fileName\": \"audio.mp3\"\n}",
            "options": {}
          },
          "id": "a8417f5a-a368-4f1a-bf5b-e98eeef1b35a",
          "name": "Responde audio",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            320,
            640
          ]
        },
        {
          "parameters": {
            "amount": 1
          },
          "type": "n8n-nodes-base.wait",
          "typeVersion": 1.1,
          "position": [
            -5536,
            384
          ],
          "id": "a57c2708-3233-4b19-a1c3-f85256756571",
          "name": "Wait3",
          "webhookId": "1911e072-536a-4c0b-8913-154dce57dfea"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            -768,
            208
          ],
          "id": "e3506775-c239-4a42-b3cf-874953981c9c",
          "name": "No Operation, do nothing1"
        },
        {
          "parameters": {
            "operation": "push",
            "list": "={{ $('Variáveis Globais').first().json.telefone }}",
            "messageData": "={{ $json.toJsonString() }}",
            "tail": true
          },
          "type": "n8n-nodes-base.redis",
          "typeVersion": 1,
          "position": [
            -3552,
            368
          ],
          "id": "e6a105e3-a2cf-4b98-988d-4856b13e8218",
          "name": "Envia",
          "credentials": {
            "redis": {
              "id": "Xwhi9xNNOOJBK5ct",
              "name": "Redis do EasyPanel"
            }
          }
        },
        {
          "parameters": {
            "operation": "get",
            "propertyName": "messages",
            "key": "={{ $('Variáveis Globais').first().json.telefone }}",
            "options": {}
          },
          "type": "n8n-nodes-base.redis",
          "typeVersion": 1,
          "position": [
            -3376,
            368
          ],
          "id": "b5ab72d5-b9ec-4720-a671-611c55eb3c94",
          "name": "Buscar",
          "credentials": {
            "redis": {
              "id": "Xwhi9xNNOOJBK5ct",
              "name": "Redis do EasyPanel"
            }
          }
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ JSON.parse($json.messages.last()).id }}",
                        "rightValue": "={{ $('Merge').item.json.id }}",
                        "operator": {
                          "type": "string",
                          "operation": "notEquals"
                        },
                        "id": "51d91487-7761-4204-9d58-51d7adca92ef"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Nothing"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "1846612e-0136-490e-9d0f-1086a79361cb",
                        "leftValue": "={{ JSON.parse($json.messages.last()).timestamp }}",
                        "rightValue": "={{ $now.minus(1,'seconds') }}",
                        "operator": {
                          "type": "dateTime",
                          "operation": "before"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Prossegue"
                }
              ]
            },
            "options": {
              "fallbackOutput": "extra",
              "renameFallbackOutput": "Espera"
            }
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.2,
          "position": [
            -3168,
            352
          ],
          "id": "5f4a15bf-32fc-48fe-98e8-68ee79edc8d0",
          "name": "Switch2"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            -2928,
            176
          ],
          "id": "cb0026c6-0915-4e98-9906-e6465bc4a54e",
          "name": "No Operation, do nothing2"
        },
        {
          "parameters": {
            "amount": 1
          },
          "type": "n8n-nodes-base.wait",
          "typeVersion": 1.1,
          "position": [
            -2928,
            544
          ],
          "id": "16d39752-f972-4126-83eb-3910b0d1b718",
          "name": "Wait4",
          "webhookId": "387c3aec-7ca8-43a3-912c-383b74abd85b"
        },
        {
          "parameters": {
            "operation": "delete",
            "key": "={{ $('Variáveis Globais').first().json.telefone }}"
          },
          "type": "n8n-nodes-base.redis",
          "typeVersion": 1,
          "position": [
            -2928,
            368
          ],
          "id": "77d96aac-2c02-4b2c-a098-fb1fd6435f36",
          "name": "Redis4",
          "credentials": {
            "redis": {
              "id": "Xwhi9xNNOOJBK5ct",
              "name": "Redis do EasyPanel"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "4bdf1a36-c8b7-484e-a789-08c245e3482a",
                  "name": "listaMensagens",
                  "value": "={{ $json.messages.map(valor => JSON.parse(valor).textMessage).join('\\n') }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -2752,
            368
          ],
          "id": "15ab9525-1257-45ff-8abf-042847ea2c73",
          "name": "listaMensagens"
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "chats",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "remotejID",
                  "condition": "eq",
                  "keyValue": "={{ $('Variáveis Globais').first().json.telefone }}"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -6192,
            336
          ],
          "id": "ba7cd54e-78b9-40d8-adb1-a52efaf1ba4a",
          "name": "Get many rows",
          "alwaysOutputData": true,
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "tableId": "chats",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "remotejID",
                  "fieldValue": "={{ $('Variáveis Globais').first().json.telefone }}"
                },
                {
                  "fieldId": "status",
                  "fieldValue": "I.A"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -5744,
            384
          ],
          "id": "80d88e60-4726-4f55-9895-a14edad41946",
          "name": "Create a row",
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "deleteTable",
            "schema": {
              "__rl": true,
              "mode": "list",
              "value": "public"
            },
            "table": {
              "__rl": true,
              "value": "n8n_chat_histories",
              "mode": "list",
              "cachedResultName": "n8n_chat_histories"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.6,
          "position": [
            -6544,
            928
          ],
          "id": "797aacac-a4db-4424-8de0-b6c2db988af3",
          "name": "Delete table or rows",
          "credentials": {
            "postgres": {
              "id": "xwAYczJevSyqr2Is",
              "name": "Postgres account"
            }
          }
        },
        {
          "parameters": {
            "resource": "audio",
            "input": "={{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}",
            "voice": "nova",
            "options": {
              "speed": 0.8
            }
          },
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            0,
            640
          ],
          "id": "ef186b99-0734-428a-b50e-83f08e7a9ec1",
          "name": "Generate audio",
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
                  "name": "text",
                  "value": "={{ $json.output.split('\\n\\n') }}",
                  "type": "array"
                }
              ]
            },
            "options": {}
          },
          "id": "cb4098d2-29f4-4363-ac61-3ed7f89dd941",
          "name": "Edit Fields6",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -1408,
            368
          ]
        },
        {
          "parameters": {
            "content": "## LIMPAR CONVERSAS",
            "height": 240,
            "width": 288,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -6624,
            848
          ],
          "typeVersion": 1,
          "id": "742dca99-b719-4ad1-a502-390dc33fec5a",
          "name": "Sticky Note4"
        }
      ],
      "connections": {
        "OpenAI Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "AI Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Postgres Chat Memory": {
          "ai_memory": [
            [
              {
                "node": "AI Agent",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "AI Agent": {
          "main": [
            [
              {
                "node": "Edit Fields6",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "When Executed by Another Workflow": {
          "main": [
            [
              {
                "node": "If4",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If4": {
          "main": [
            [
              {
                "node": "Google Calendar4",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Google Calendar5",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Google Calendar4": {
          "main": [
            [
              {
                "node": "Edit Fields2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields2": {
          "main": [
            [
              {
                "node": "Summarize",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Summarize": {
          "main": [
            [
              {
                "node": "OpenAI2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields5": {
          "main": [
            [
              {
                "node": "Summarize1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Google Calendar5": {
          "main": [
            [
              {
                "node": "Edit Fields5",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Summarize1": {
          "main": [
            [
              {
                "node": "OpenAI3",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "criar_eventos": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "reagendamento": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "busca_usuario": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "deleta_eventos": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "busca_todos_eventos": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Responde texto": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to File": {
          "main": [
            [
              {
                "node": "OpenAI",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields": {
          "main": [
            [
              {
                "node": "Convert to File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to File1": {
          "main": [
            [
              {
                "node": "OpenAI1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields3": {
          "main": [
            [
              {
                "node": "Convert to File1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Edit Fields4",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Edit Fields4",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Edit Fields",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Edit Fields3",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "separa o base1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch1": {
          "main": [
            [
              {
                "node": "Generate audio",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Responde texto",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Responde imagem",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Responde pdf",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Responde vídeo",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Responde imagem": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Responde pdf": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Responde vídeo": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields4": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Split Out": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [
              {
                "node": "No Operation, do nothing1",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Wait1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wait1": {
          "main": [
            [
              {
                "node": "Switch1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Variáveis Globais": {
          "main": [
            [
              {
                "node": "Get many rows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If1": {
          "main": [
            [
              {
                "node": "If2",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Create a row",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If2": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI": {
          "main": [
            [
              {
                "node": "Edit Fields8",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI1": {
          "main": [
            [
              {
                "node": "Edit Fields9",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Webhook": {
          "main": [
            [
              {
                "node": "Variáveis Globais",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "Envia",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields8": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Edit Fields9": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 2
              }
            ]
          ]
        },
        "separa o base1": {
          "main": [
            [
              {
                "node": "Converte documento",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Converte documento": {
          "main": [
            [
              {
                "node": "Extract from File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract from File": {
          "main": [
            [
              {
                "node": "separa o telefone e texto3",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "separa o telefone e texto3": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 3
              }
            ]
          ]
        },
        "Extract from File1": {
          "main": [
            [
              {
                "node": "Responde audio",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Responde audio": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wait3": {
          "main": [
            [
              {
                "node": "Get many rows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Envia": {
          "main": [
            [
              {
                "node": "Buscar",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar": {
          "main": [
            [
              {
                "node": "Switch2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch2": {
          "main": [
            [
              {
                "node": "No Operation, do nothing2",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Redis4",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Wait4",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wait4": {
          "main": [
            [
              {
                "node": "Buscar",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Redis4": {
          "main": [
            [
              {
                "node": "listaMensagens",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "listaMensagens": {
          "main": [
            [
              {
                "node": "AI Agent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get many rows": {
          "main": [
            [
              {
                "node": "If1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create a row": {
          "main": [
            [
              {
                "node": "Wait3",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate audio": {
          "main": [
            [
              {
                "node": "Extract from File1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields6": {
          "main": [
            [
              {
                "node": "Split Out",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Gilberto Abrao",
      "name": null,
      "description": null
    }
  }
}
