workflows-backup/backup-20260115-152220/gE2rpbLVUlnA5yMk-cancelar-agendamento.json
{
  "id": "gE2rpbLVUlnA5yMk",
  "name": "Botfy - Tool: Cancelar Agendamento",
  "active": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-400, 300],
      "parameters": { "inputSource": "passthrough" }
    },
    {
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-200, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "agendamento_id", "name": "agendamento_id", "value": "={{ JSON.parse($json.query).agendamento_id }}", "type": "number" }
          ]
        }
      }
    },
    {
      "id": "cancela-agendamento",
      "name": "Cancela Agendamento",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {
        "operation": "update",
        "tableId": "agendamentos",
        "matchType": "allFilters",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.agendamento_id }}" }] },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "cancelada" },
            { "fieldId": "updated_at", "fieldValue": "={{ $now.toISO() }}" }
          ]
        }
      }
    },
    {
      "id": "retorna-resultado",
      "name": "Retorna Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "resultado", "name": "resultado", "value": "=Agendamento ID {{ $json.id }} cancelado com sucesso.", "type": "string" }
          ]
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Cancela Agendamento", "type": "main", "index": 0 }]] },
    "Cancela Agendamento": { "main": [[{ "node": "Retorna Resultado", "type": "main", "index": 0 }]] }
  }
}