workflows-backup/eEx2enJk3YpreNUm-criar-agendamento.json
{
  "id": "eEx2enJk3YpreNUm",
  "name": "Botfy - Tool: Criar Agendamento",
  "active": false,
  "nodes": [
    {"id": "trigger", "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [-400, 300], "parameters": {"inputSource": "passthrough"}},
    {"id": "c6566e49-2402-481f-92dc-3d1db1f5c795", "name": "Parse Input", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-300, 300], "parameters": {"mode": "manual", "assignments": {"assignments": [{"id": "nome", "name": "nome", "value": "={{ JSON.parse($json.query).nome }}", "type": "string"}, {"id": "telefone", "name": "telefone", "value": "={{ JSON.parse($json.query).telefone }}", "type": "string"}, {"id": "servico", "name": "servico", "value": "={{ JSON.parse($json.query).servico }}", "type": "string"}, {"id": "data_hora", "name": "data_hora", "value": "={{ JSON.parse($json.query).data_hora }}", "type": "string"}, {"id": "email", "name": "email", "value": "={{ JSON.parse($json.query).email || '' }}", "type": "string"}, {"id": "convenio", "name": "convenio", "value": "={{ JSON.parse($json.query).convenio || '' }}", "type": "string"}, {"id": "profissional", "name": "profissional", "value": "={{ JSON.parse($json.query).profissional || 'Dra. Paula' }}", "type": "string"}, {"id": "observacoes", "name": "observacoes", "value": "={{ JSON.parse($json.query).observacoes || '' }}", "type": "string"}]}, "options": {}}},
    {"id": "busca-servico", "name": "Busca Servico", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-200, 300], "parameters": {"operation": "getAll", "tableId": "servicos", "returnAll": false, "limit": 1, "matchType": "allFilters", "filters": {"conditions": [{"keyName": "nome", "condition": "ilike", "keyValue": "=%{{ $json.servico }}%"}, {"keyName": "ativo", "condition": "eq", "keyValue": "true"}]}}, "alwaysOutputData": true},
    {"id": "if-servico-existe", "name": "Servico Existe?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [0, 300], "parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "conditions": [{"id": "cond-servico", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "number", "operation": "exists"}}], "combinator": "and"}, "looseTypeValidation": true}},
    {"id": "set-servico-dados", "name": "Set Servico Dados", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 200], "parameters": {"assignments": {"assignments": [{"id": "servico-id", "name": "servico_id", "value": "={{ $json.id }}", "type": "number"}, {"id": "duracao", "name": "duracao_minutos", "value": "={{ $json.duracao_minutos }}", "type": "number"}, {"id": "servico-nome", "name": "servico_nome", "value": "={{ $json.nome }}", "type": "string"}]}, "options": {}}},
    {"id": "erro-servico", "name": "Erro Servico Nao Encontrado", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 400], "parameters": {"assignments": {"assignments": [{"id": "erro", "name": "resultado", "value": "=Serviço '{{ $('Parse Input').first().json.servico }}' não encontrado. Serviços disponíveis: Avaliação Facial, Limpeza de Pele, Peeling, Botox, Preenchimento.", "type": "string"}]}}},
    {"id": "busca-paciente", "name": "Busca Paciente Existente", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [400, 200], "parameters": {"operation": "getAll", "tableId": "pacientes", "returnAll": false, "limit": 1, "matchType": "allFilters", "filters": {"conditions": [{"keyName": "telefone", "condition": "eq", "keyValue": "={{ $('Parse Input').first().json.telefone }}"}]}}, "alwaysOutputData": true},
    {"id": "if-paciente-existe", "name": "Paciente Existe?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [600, 200], "parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "conditions": [{"id": "cond-existe", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "number", "operation": "exists"}}], "combinator": "and"}, "looseTypeValidation": true}},
    {"id": "usa-paciente-existente", "name": "Usa Paciente Existente", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [800, 100], "parameters": {"assignments": {"assignments": [{"id": "paciente-id", "name": "paciente_id", "value": "={{ $json.id }}", "type": "number"}]}, "options": {}}},
    {"id": "cria-paciente", "name": "Cria Paciente", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [800, 300], "parameters": {"tableId": "pacientes", "fieldsUi": {"fieldValues": [{"fieldId": "nome", "fieldValue": "={{ $('Parse Input').first().json.nome }}"}, {"fieldId": "telefone", "fieldValue": "={{ $('Parse Input').first().json.telefone }}"}, {"fieldId": "email", "fieldValue": "={{ $('Parse Input').first().json.email || '' }}"}, {"fieldId": "convenio", "fieldValue": "={{ $('Parse Input').first().json.convenio || '' }}"}]}}},
    {"id": "merge-paciente", "name": "Merge Paciente", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [1000, 200], "parameters": {"mode": "append", "options": {}}},
    {"id": "cria-agendamento", "name": "Cria Agendamento", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1200, 200], "parameters": {"tableId": "agendamentos", "fieldsUi": {"fieldValues": [{"fieldId": "paciente_id", "fieldValue": "={{ $json.paciente_id || $json.id }}"}, {"fieldId": "servico_id", "fieldValue": "={{ $('Set Servico Dados').first().json.servico_id }}"}, {"fieldId": "tipo_consulta", "fieldValue": "={{ $('Set Servico Dados').first().json.servico_nome }}"}, {"fieldId": "profissional", "fieldValue": "={{ $('Parse Input').first().json.profissional || 'Dra. Paula' }}"}, {"fieldId": "data_hora", "fieldValue": "={{ $('Parse Input').first().json.data_hora }}"}, {"fieldId": "duracao_minutos", "fieldValue": "={{ $('Set Servico Dados').first().json.duracao_minutos }}"}, {"fieldId": "status", "fieldValue": "agendada"}, {"fieldId": "observacoes", "fieldValue": "={{ $('Parse Input').first().json.observacoes || '' }}"}]}}},
    {"id": "retorna-resultado", "name": "Retorna Resultado", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1400, 200], "parameters": {"assignments": {"assignments": [{"id": "resultado", "name": "resultado", "value": "=Agendamento criado com sucesso! ID: {{ $json.id }}, Paciente: {{ $('Parse Input').first().json.nome }}, Serviço: {{ $('Set Servico Dados').first().json.servico_nome }}, Data: {{ $('Parse Input').first().json.data_hora }}, Duração: {{ $('Set Servico Dados').first().json.duracao_minutos }} minutos", "type": "string"}, {"id": "agendamento-id", "name": "agendamento_id", "value": "={{ $json.id }}", "type": "number"}]}}},
    {"id": "d2d337db-7fc2-4eb4-94a3-ee9ca7bcca5c", "name": "Retorna Erro", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [400, 400], "parameters": {"assignments": {"assignments": [{"id": "erro-resultado", "name": "resultado", "value": "={{ $json.resultado }}", "type": "string"}]}, "options": {}}}
  ],
  "connections": {
    "When Executed by Another Workflow": {"main": [[{"node": "Parse Input", "type": "main", "index": 0}]]},
    "Parse Input": {"main": [[{"node": "Busca Servico", "type": "main", "index": 0}]]},
    "Busca Servico": {"main": [[{"node": "Servico Existe?", "type": "main", "index": 0}]]},
    "Servico Existe?": {"main": [[{"node": "Set Servico Dados", "type": "main", "index": 0}], [{"node": "Erro Servico Nao Encontrado", "type": "main", "index": 0}]]},
    "Set Servico Dados": {"main": [[{"node": "Busca Paciente Existente", "type": "main", "index": 0}]]},
    "Erro Servico Nao Encontrado": {"main": [[{"node": "Retorna Erro", "type": "main", "index": 0}]]},
    "Busca Paciente Existente": {"main": [[{"node": "Paciente Existe?", "type": "main", "index": 0}]]},
    "Paciente Existe?": {"main": [[{"node": "Usa Paciente Existente", "type": "main", "index": 0}], [{"node": "Cria Paciente", "type": "main", "index": 0}]]},
    "Usa Paciente Existente": {"main": [[{"node": "Merge Paciente", "type": "main", "index": 0}]]},
    "Cria Paciente": {"main": [[{"node": "Merge Paciente", "type": "main", "index": 1}]]},
    "Merge Paciente": {"main": [[{"node": "Cria Agendamento", "type": "main", "index": 0}]]},
    "Cria Agendamento": {"main": [[{"node": "Retorna Resultado", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
