workflows-backup/holwGQuksZPsSb19-status-pre-checkin.json
{
  "id": "holwGQuksZPsSb19",
  "name": "Botfy - Tool: Consultar Status Pre Check-In",
  "active": false,
  "createdAt": "2026-01-14T12:12:33.248Z",
  "updatedAt": "2026-01-20T00:56:57.385Z",
  "nodes": [
    {
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 304],
      "parameters": {}
    },
    {
      "id": "extrair_params",
      "name": "Extrair Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [464, 304],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.telefone || '' }}",
              "type": "string"
            },
            {
              "id": "agendamento_id",
              "name": "agendamento_id",
              "value": "={{ $json.agendamento_id || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "buscar_status",
      "name": "Buscar Status Completo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [688, 304],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  pc.id,\n  pc.status,\n  pc.dados_confirmados,\n  pc.documentos_enviados,\n  pc.instrucoes_enviadas,\n  pc.pendencias,\n  pc.created_at,\n  pc.updated_at,\n  a.data_hora as agendamento_data_hora,\n  a.status as agendamento_status,\n  s.nome as servico_nome,\n  p.nome as paciente_nome,\n  p.telefone as paciente_telefone\nFROM pre_checkin pc\nJOIN agendamentos a ON pc.agendamento_id = a.id\nJOIN servicos s ON a.servico_id = s.id\nJOIN pacientes p ON pc.paciente_id = p.id\nWHERE \n  (p.telefone LIKE '%' || REPLACE($1, '@s.whatsapp.net', '') || '%' OR $1 = '')\n  AND (pc.agendamento_id::text = $2 OR $2 = '')\nORDER BY a.data_hora DESC\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.telefone, $json.agendamento_id] }}",
          "typeValidation": "loose"
        }
      },
      "credentials": {
        "postgres": {
          "id": "c6DjqdPpgQjbqLnu",
          "name": "Supabase Botfy"
        }
      }
    },
    {
      "id": "verificar_encontrado",
      "name": "Encontrou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [912, 304],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              },
              "id": "encontrou"
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "formatar_encontrado",
      "name": "Formatar Status Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 208],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resultado",
              "name": "resultado",
              "value": "=Pre check-in encontrado para {{ $json.paciente_nome }}:\n- Status: {{ $json.status }}\n- Dados confirmados: {{ $json.dados_confirmados ? 'Sim' : 'Não' }}\n- Documentos enviados: {{ $json.documentos_enviados ? 'Sim' : 'Não' }}\n- Instruções enviadas: {{ $json.instrucoes_enviadas ? 'Sim' : 'Não' }}\n- Agendamento: {{ $json.servico_nome }} em {{ $json.agendamento_data_hora }}\n- Pendências: {{ $json.pendencias ? JSON.stringify($json.pendencias) : 'Nenhuma' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "formatar_nao_encontrado",
      "name": "Nao Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resultado",
              "name": "resultado",
              "value": "Nenhum pre check-in encontrado para este paciente ou agendamento.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "merge",
      "name": "Merge Respostas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [1344, 304],
      "parameters": {
        "mode": "chooseBranch",
        "chooseBranchMode": "waitForAll",
        "output": "input1"
      }
    },
    {
      "id": "retorna_resultado",
      "name": "Retorna Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1568, 304],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{ $json.resultado }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{"node": "Extrair Parametros", "type": "main", "index": 0}]]
    },
    "Extrair Parametros": {
      "main": [[{"node": "Buscar Status Completo", "type": "main", "index": 0}]]
    },
    "Buscar Status Completo": {
      "main": [[{"node": "Encontrou?", "type": "main", "index": 0}]]
    },
    "Encontrou?": {
      "main": [
        [{"node": "Formatar Status Encontrado", "type": "main", "index": 0}],
        [{"node": "Nao Encontrado", "type": "main", "index": 0}]
      ]
    },
    "Formatar Status Encontrado": {
      "main": [[{"node": "Merge Respostas", "type": "main", "index": 0}]]
    },
    "Nao Encontrado": {
      "main": [[{"node": "Merge Respostas", "type": "main", "index": 1}]]
    },
    "Merge Respostas": {
      "main": [[{"node": "Retorna Resultado", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
