workflows-backup/HTR3ITfFDrK6eP2R-anti-no-show.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-01-17T15:09:20.100Z",
    "createdAt": "2026-01-12T23:38:36.781Z",
    "id": "HTR3ITfFDrK6eP2R",
    "name": "Botfy - Anti No-Show",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Verifica Consultas",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1200,
          304
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "config_lembretes",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "ativo",
                "condition": "eq",
                "keyValue": "true"
              }
            ]
          }
        },
        "id": "config-lembretes",
        "name": "Busca Config Lembretes",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1008,
          304
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agendamentos_completos",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "data_hora",
                "condition": "gte",
                "keyValue": "={{ $now.toISO() }}"
              },
              {
                "keyName": "data_hora",
                "condition": "lte",
                "keyValue": "={{ $now.plus({ hours: 48 }).toISO() }}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "agendada"
              }
            ]
          }
        },
        "id": "google-calendar",
        "name": "Busca Agendamentos 48h",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -800,
          304
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "id": "merge-data",
        "name": "Combina Dados",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -608,
          304
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "consulta-id",
                "name": "consulta_id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "paciente-nome",
                "name": "paciente_nome",
                "value": "={{ $json.paciente_nome }}",
                "type": "string"
              },
              {
                "id": "paciente-tel",
                "name": "paciente_telefone",
                "value": "={{ $json.paciente_telefone }}",
                "type": "string"
              },
              {
                "id": "paciente-email",
                "name": "paciente_email",
                "value": "={{ $json.paciente_email || '' }}",
                "type": "string"
              },
              {
                "id": "evento-inicio",
                "name": "consulta_inicio",
                "value": "={{ $json.data_hora }}",
                "type": "string"
              },
              {
                "id": "tipo-consulta",
                "name": "tipo_consulta",
                "value": "={{ $json.tipo_consulta }}",
                "type": "string"
              },
              {
                "id": "profissional",
                "name": "profissional",
                "value": "={{ $json.profissional }}",
                "type": "string"
              },
              {
                "id": "horas-restantes",
                "name": "horas_ate_consulta",
                "value": "={{ Math.round((new Date($json.data_hora).getTime() - Date.now()) / (1000 * 60 * 60) * 100) / 100 }}",
                "type": "number"
              },
              {
                "id": "config-nome",
                "name": "config_lembrete_nome",
                "value": "={{ $json.config_nome || $('Busca Config Lembretes').item.json.nome }}",
                "type": "string"
              },
              {
                "id": "config-horas",
                "name": "config_horas_antes",
                "value": "={{ $json.config_horas_antes || $('Busca Config Lembretes').item.json.horas_antes }}",
                "type": "number"
              },
              {
                "id": "config-template",
                "name": "config_template_tipo",
                "value": "={{ $json.config_template_tipo || $('Busca Config Lembretes').item.json.template_tipo }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "calcula-tempo",
        "name": "Calcula Tempo Restante",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-timing",
                "leftValue": "={{ $json.horas_ate_consulta }}",
                "rightValue": "={{ $json.config_horas_antes }}",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              },
              {
                "id": "cond-timing-max",
                "leftValue": "={{ $json.horas_ate_consulta }}",
                "rightValue": "={{ $json.config_horas_antes + 0.5 }}",
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-timing",
        "name": "Timing Correto?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -208,
          304
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "historico_noshow",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $('Calcula Tempo Restante').item.json.paciente_email }}"
              }
            ]
          }
        },
        "id": "busca-historico",
        "name": "Busca Historico Paciente",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          400,
          112
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dados-paciente",
                "name": "dados_paciente",
                "value": "={{ JSON.stringify($('Calcula Tempo Restante').item.json) }}",
                "type": "string"
              },
              {
                "id": "historico",
                "name": "historico_noshow",
                "value": "={{ $json.length > 0 ? 'Total consultas: ' + $json.length + ', Faltas: ' + $json.filter(h => !h.compareceu).length : 'Sem historico' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "prepara-analise",
        "name": "Prepara Dados Analise",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          112
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list"
          },
          "messages": {
            "values": [
              {
                "content": "=Voce e um analista de risco de no-show para clinica de estetica.\n\nAnalise o risco deste paciente faltar na consulta.\n\nDados do paciente e consulta:\n{{ $json.dados_paciente }}\n\nHistorico do paciente:\n{{ $json.historico_noshow }}\n\nRegras de analise:\n- Sexta-feira tarde: +20% risco\n- Segunda-feira manha: +10% risco\n- Paciente sem historico: risco medio (0.3)\n- Cada falta anterior: +15% risco\n- Consulta de retorno: -10% risco\n\nRetorne APENAS um JSON valido (sem markdown):\n{\"risco\": 0.0 a 1.0, \"fatores\": [\"fator1\", \"fator2\"], \"recomendacao\": \"lembrete_normal\" ou \"lembrete_reforcado\" ou \"ligar_antes\"}"
              }
            ]
          },
          "options": {
            "temperature": 0.3
          }
        },
        "id": "analise-risco",
        "name": "IA Analisa Risco No-Show",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          784,
          112
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "risco-obj",
                "name": "analise_risco",
                "value": "={{ JSON.parse($json.message.content) }}",
                "type": "object"
              },
              {
                "id": "risco-score",
                "name": "risco_score",
                "value": "={{ JSON.parse($json.message.content).risco }}",
                "type": "number"
              },
              {
                "id": "dados-evento",
                "name": "evento",
                "value": "={{ $('Calcula Tempo Restante').item.json }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "parse-risco",
        "name": "Extrai Score Risco",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1056,
          112
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "GPT-4.1-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Voce e Marilia, assistente da Dra. Paula. Gere uma mensagem de lembrete HUMANIZADA para o paciente.\n\nDados:\n- Nome: {{ $json.nome }}\n- Consulta: {{ $json.tipo_consulta || 'consulta' }}\n- Data: {{ $json.data_formatada }}\n- Horario: {{ $json.horario }}\n- Tipo de lembrete: {{ $json.tipo_lembrete }}\n\nREGRAS IMPORTANTES:\n- NUNCA use frases como 'Responda X ou Y' ou 'Digite CONFIRMAR'\n- Seja natural e acolhedora como uma secretaria real\n- Use no maximo 2 emojis\n- Maximo 3 frases curtas\n- Se for lembrete_2h, seja mais direta pois a consulta e em breve\n- Se for lembrete_24h ou 48h, pode ser mais casual\n\nExemplos de tom correto:\n- 'Oi Joao! Passando pra lembrar da sua consulta amanha as 10h com a Dra. Paula. Nos vemos la! 游땕'\n- 'Gilberto, sua consulta e daqui a pouquinho, as 15h! Qualquer coisa me avisa aqui. Ate ja!'\n\nGere apenas a mensagem, sem explicacoes."
              }
            ]
          },
          "options": {}
        },
        "id": "gera-mensagem",
        "name": "IA Gera Mensagem",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1200,
          112
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "telefone",
                "name": "telefone",
                "value": "={{ $('Calcula Tempo Restante').item.json.paciente_telefone }}",
                "type": "string"
              },
              {
                "id": "mensagem",
                "name": "mensagem",
                "value": "={{ $json.message.content }}",
                "type": "string"
              },
              {
                "id": "consulta-id-final",
                "name": "consulta_id",
                "value": "={{ $('Calcula Tempo Restante').item.json.consulta_id }}",
                "type": "number"
              },
              {
                "id": "tipo-lembrete",
                "name": "tipo_lembrete",
                "value": "={{ $('Calcula Tempo Restante').item.json.config_lembrete_nome }}",
                "type": "string"
              },
              {
                "id": "risco-final",
                "name": "risco_score",
                "value": "={{ $('Extrai Score Risco').item.json.risco_score }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "prepara-envio",
        "name": "Prepara Envio WhatsApp",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Vari치veis Globais').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais').first().json.instancia }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Vari치veis Globais').first().json.api_key }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $json.telefone }}\",\n    \"text\": \"{{ $json.mensagem.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
          "options": {}
        },
        "id": "envia-whatsapp",
        "name": "Envia WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          112
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO lembretes_enviados (agendamento_id, telefone, tipo_lembrete, status_resposta, enviado_em)\nVALUES (\n  {{ $('Busca Agendamentos 48h').item.json.id }},\n  '{{ $('Busca Agendamentos 48h').item.json.paciente_telefone }}',\n  '{{ $json.tipo_lembrete }}',\n  'pendente',\n  NOW()\n)\nRETURNING *;"
        },
        "id": "registra-lembrete",
        "name": "Registra Lembrete Enviado",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          112
        ],
        "credentials": {
          "postgres": {
            "id": "xwAYczJevSyqr2Is",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Botfy - Anti No-Show\nVerifica consultas proximas e envia lembretes inteligentes",
          "height": 100,
          "width": 400,
          "color": 4
        },
        "id": "sticky-titulo",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1664,
          304
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Analise de Risco IA\nCalcula probabilidade de no-show",
          "height": 80,
          "width": 300,
          "color": 2
        },
        "id": "sticky-analise",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          752,
          -48
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Envio e Registro\nWhatsApp + Supabase",
          "height": 80,
          "width": 300,
          "color": 6
        },
        "id": "sticky-envio",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          -48
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "anti-noshow-resposta",
          "options": {}
        },
        "id": "webhook-resposta",
        "name": "Webhook Resposta Paciente",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1200,
          704
        ],
        "webhookId": "anti-noshow-webhook-001"
      },
      {
        "parameters": {
          "jsCode": "// Extrai dados da resposta do Evolution API\n// Busca dados do webhook diretamente pelo nome do node\nconst webhookData = $('Webhook Resposta Paciente').first().json;\nconst body = webhookData.body || {};\nconst nestedBody = body.body || body;\n\n// Busca credenciais das Vari치veis Globais\nconst config = $input.first().json;\n\n// Tenta extrair telefone de diferentes estruturas\nlet telefone = '';\nif (nestedBody.data && nestedBody.data.key && nestedBody.data.key.remoteJid) {\n  telefone = nestedBody.data.key.remoteJid.replace('@s.whatsapp.net', '');\n}\n\n// Tenta extrair mensagem\nlet mensagem = '';\nif (nestedBody.data && nestedBody.data.message) {\n  mensagem = nestedBody.data.message.conversation || \n             (nestedBody.data.message.extendedTextMessage && nestedBody.data.message.extendedTextMessage.text) || \n             '';\n}\n\nreturn [{\n  json: {\n    telefone,\n    mensagem,\n    instancia: config.instancia || nestedBody.instance || '',\n    api_url: config.api_url || '',\n    api_key: config.api_key || ''\n  }\n}];"
        },
        "id": "extrai-dados-resposta",
        "name": "Extrai Dados Resposta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1008,
          704
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "lembretes_enviados",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $json.telefone }}"
              },
              {
                "keyName": "status_resposta",
                "condition": "eq",
                "keyValue": "pendente"
              }
            ]
          }
        },
        "id": "busca-lembrete-pendente",
        "name": "Busca Lembrete Pendente",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -800,
          704
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-lembrete",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "if-tem-lembrete",
        "name": "Tem Lembrete Pendente?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -608,
          704
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list"
          },
          "messages": {
            "values": [
              {
                "content": "=Voce e um assistente que interpreta respostas de pacientes sobre confirmacao de consulta.\n\nMensagem do paciente: \"{{ $('Extrai Dados Resposta').item.json.mensagem }}\"\n\nClassifique a resposta em UMA das categorias:\n- CONFIRMA: paciente confirmou presenca (sim, ok, confirmado, vou, estarei la, etc)\n- CANCELA: paciente quer cancelar (nao vou, cancela, desmarcar, nao posso, etc)\n- REAGENDA: paciente quer mudar horario (trocar, remarcar, outro horario, etc)\n- DUVIDA: paciente tem duvida ou resposta nao clara\n\nRetorne APENAS um JSON valido:\n{\"categoria\": \"CONFIRMA|CANCELA|REAGENDA|DUVIDA\", \"confianca\": 0.0 a 1.0, \"resposta_sugerida\": \"mensagem curta para responder ao paciente\"}"
              }
            ]
          },
          "options": {
            "temperature": 0.2
          }
        },
        "id": "ai-interpreta-resposta",
        "name": "IA Interpreta Resposta",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -400,
          608
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "categoria",
                "name": "categoria",
                "value": "={{ JSON.parse($json.message.content).categoria }}",
                "type": "string"
              },
              {
                "id": "confianca",
                "name": "confianca",
                "value": "={{ JSON.parse($json.message.content).confianca }}",
                "type": "number"
              },
              {
                "id": "resposta-sugerida",
                "name": "resposta_sugerida",
                "value": "={{ JSON.parse($json.message.content).resposta_sugerida }}",
                "type": "string"
              },
              {
                "id": "lembrete-id",
                "name": "lembrete_id",
                "value": "={{ $('Busca Lembrete Pendente').item.json.id }}",
                "type": "number"
              },
              {
                "id": "consulta-id-resp",
                "name": "consulta_id",
                "value": "={{ $('Busca Lembrete Pendente').item.json.consulta_id }}",
                "type": "number"
              },
              {
                "id": "telefone-final",
                "name": "telefone",
                "value": "={{ $('Extrai Dados Resposta').item.json.telefone }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "parse-categoria",
        "name": "Extrai Categoria",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -208,
          608
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cond-confirma",
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "CONFIRMA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CONFIRMA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cond-cancela",
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "CANCELA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CANCELA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cond-reagenda",
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "REAGENDA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "REAGENDA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cond-duvida",
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "DUVIDA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "DUVIDA"
              }
            ]
          },
          "options": {}
        },
        "id": "switch-categoria",
        "name": "Direciona por Categoria",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          0,
          608
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lembretes_enviados",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.lembrete_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_resposta",
                "fieldValue": "confirmado"
              },
              {
                "fieldId": "data_resposta",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "atualiza-confirmado",
        "name": "Atualiza Status Confirmado",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lembretes_enviados",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.lembrete_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_resposta",
                "fieldValue": "cancelado"
              },
              {
                "fieldId": "data_resposta",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "atualiza-cancelado",
        "name": "Atualiza Status Cancelado",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          560
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Vari치veis Globais Webhook').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais Webhook').first().json.instancia }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Vari치veis Globais Webhook').first().json.api_key }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $('Extrai Dados Resposta').first().json.telefone }}\",\n    \"text\": \"{{ ($json.resposta || 'Obrigado pela sua resposta!').replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
          "options": {}
        },
        "id": "responde-paciente",
        "name": "Responde Paciente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          512,
          512
        ]
      },
      {
        "parameters": {
          "content": "## Webhook Respostas\nRecebe confirmacao/cancelamento do paciente",
          "height": 100,
          "width": 350,
          "color": 5
        },
        "id": "sticky-webhook",
        "name": "Sticky Note Webhook",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1632,
          704
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "lista_espera",
          "limit": 3,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "aguardando"
              }
            ]
          }
        },
        "id": "busca-lista-espera",
        "name": "Busca Lista Espera",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          752
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-espera",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-tem-espera",
        "name": "Tem Pessoas na Espera?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          464,
          752
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agendamentos_completos",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Busca Lembrete Pendente').item.json.agendamento_id }}"
              }
            ]
          }
        },
        "id": "busca-evento-cancelado",
        "name": "Busca Dados Agendamento",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          656,
          656
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "espera-telefone",
                "name": "telefone_espera",
                "value": "={{ $('Busca Lista Espera').item.json.telefone }}",
                "type": "string"
              },
              {
                "id": "espera-nome",
                "name": "nome_espera",
                "value": "={{ $('Busca Lista Espera').item.json.nome }}",
                "type": "string"
              },
              {
                "id": "espera-id",
                "name": "espera_id",
                "value": "={{ $('Busca Lista Espera').item.json.id }}",
                "type": "number"
              },
              {
                "id": "consulta-data",
                "name": "evento_data",
                "value": "={{ $json.data_hora }}",
                "type": "string"
              },
              {
                "id": "consulta-tipo",
                "name": "evento_titulo",
                "value": "={{ $json.tipo_consulta }}",
                "type": "string"
              },
              {
                "id": "consulta-id",
                "name": "consulta_id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "prepara-oferta-vaga",
        "name": "Prepara Oferta Vaga",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          864,
          656
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list"
          },
          "messages": {
            "values": [
              {
                "content": "=Gere uma mensagem curta oferecendo uma vaga que abriu para um paciente na lista de espera.\n\nDados:\n- Nome do paciente: {{ $json.nome_espera }}\n- Data/hora da vaga: {{ $json.evento_data }}\n- Clinica da Dra. Paula\n\nRegras:\n- Maximo 200 caracteres\n- Tom animado mas profissional\n- Pedir para responder SIM se quiser a vaga\n- Mencionar que e por ordem de chegada\n- Assinar como Marilia\n\nRetorne APENAS a mensagem, sem aspas."
              }
            ]
          },
          "options": {
            "temperature": 0.7
          }
        },
        "id": "gera-msg-espera",
        "name": "IA Gera Mensagem Vaga",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1056,
          656
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Vari치veis Globais Webhook').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais Webhook').first().json.instancia }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Vari치veis Globais Webhook').first().json.api_key }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $json.telefone }}\",\n    \"text\": \"{{ $json.mensagem.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
          "options": {}
        },
        "id": "envia-oferta-espera",
        "name": "Envia Oferta para Espera",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1344,
          656
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE lista_espera SET status = 'contatado', contatado_em = NOW() WHERE id = {{ $('Busca Lista Espera').item.json.id }}"
        },
        "id": "atualiza-espera-contatado",
        "name": "Atualiza Espera Contatado",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1504,
          656
        ],
        "credentials": {
          "postgres": {
            "id": "xwAYczJevSyqr2Is",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "agendamentos",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Busca Lembrete Pendente').item.json.agendamento_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "cancelada"
              },
              {
                "fieldId": "updated_at",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "deleta-evento-calendar",
        "name": "Atualiza Agendamento Cancelado",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          464,
          912
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Lista de Espera\nQuando cancela, oferece vaga para quem esta aguardando",
          "height": 80,
          "width": 448,
          "color": 3
        },
        "id": "sticky-lista-espera",
        "name": "Sticky Note Lista Espera",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          528,
          400
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "id": "schedule-escalacao",
        "name": "Verifica Nao Respondidos",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1200,
          1104
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "lembretes_enviados",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "status_resposta",
                "condition": "eq",
                "keyValue": "pendente"
              },
              {
                "keyName": "escalado_humano",
                "condition": "eq",
                "keyValue": "false"
              }
            ]
          }
        },
        "id": "busca-pendentes-antigos",
        "name": "Busca Lembretes Sem Resposta",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1008,
          1104
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-4h",
                "leftValue": "={{ ($now.toMillis() - $json.data_envio.toDateTime().toMillis()) / (1000 * 60 * 60) }}",
                "rightValue": 4,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "filtra-4h-sem-resposta",
        "name": "Filtra +4h Sem Resposta",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -800,
          1104
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agendamentos_completos",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.agendamento_id }}"
              }
            ]
          }
        },
        "id": "busca-evento-escalar",
        "name": "Busca Agendamento para Escalar",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -608,
          1104
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "notif-paciente",
                "name": "paciente_nome",
                "value": "={{ $json.paciente_nome }}",
                "type": "string"
              },
              {
                "id": "notif-telefone",
                "name": "paciente_telefone",
                "value": "={{ $json.paciente_telefone || $('Filtra +4h Sem Resposta').item.json.telefone }}",
                "type": "string"
              },
              {
                "id": "notif-consulta",
                "name": "consulta_data",
                "value": "={{ $json.data_hora }}",
                "type": "string"
              },
              {
                "id": "notif-tipo",
                "name": "tipo_consulta",
                "value": "={{ $json.tipo_consulta }}",
                "type": "string"
              },
              {
                "id": "notif-profissional",
                "name": "profissional",
                "value": "={{ $json.profissional }}",
                "type": "string"
              },
              {
                "id": "notif-risco",
                "name": "risco_noshow",
                "value": "={{ $('Filtra +4h Sem Resposta').item.json.risco_noshow }}",
                "type": "number"
              },
              {
                "id": "notif-lembrete-id",
                "name": "lembrete_id",
                "value": "={{ $('Filtra +4h Sem Resposta').item.json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "prepara-notif-humano",
        "name": "Prepara Notificacao Humano",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          1104
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list"
          },
          "messages": {
            "values": [
              {
                "content": "=Gere um alerta para a recepcionista sobre paciente que nao confirmou consulta.\n\nDados:\n- Paciente: {{ $json.paciente_nome }}\n- Telefone: {{ $json.paciente_telefone }}\n- Consulta: {{ $json.consulta_data }}\n- Risco no-show: {{ $json.risco_noshow * 100 }}%\n\nFormato:\n丘멆잺 PACIENTE NAO CONFIRMOU\n\nPaciente: [nome]\nTelefone: [telefone]\nConsulta: [data formatada]\nRisco: [ALTO/MEDIO/BAIXO] ([%])\n\nAcao sugerida: [sugestao baseada no risco]\n\nRetorne APENAS a mensagem formatada."
              }
            ]
          },
          "options": {
            "temperature": 0.3
          }
        },
        "id": "gera-alerta-humano",
        "name": "IA Gera Alerta Recepcionista",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -208,
          1104
        ],
        "credentials": {
          "openAiApi": {
            "id": "b2f06NWMfx9VK1I2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Vari치veis Globais Escalacao').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais Escalacao').first().json.instancia }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Vari치veis Globais Escalacao').first().json.api_key }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"number\": \"{{ $('Prepara Notificacao Humano').item.json.telefone_recepcionista || '5511999999999' }}\",\n    \"text\": \"{{ $json.message.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
          "options": {}
        },
        "id": "envia-alerta-recepcionista",
        "name": "Envia Alerta Recepcionista",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          64,
          1104
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lembretes_enviados",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Prepara Notificacao Humano').item.json.lembrete_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "escalado_humano",
                "fieldValue": "true"
              },
              {
                "fieldId": "data_escalacao",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "marca-escalado",
        "name": "Marca como Escalado",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          208,
          1104
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Escalonamento para Humano\nVerifica a cada 1h se tem lembrete sem resposta ha mais de 4h",
          "height": 100,
          "width": 450,
          "color": 7
        },
        "id": "sticky-escalacao",
        "name": "Sticky Note Escalacao",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1712,
          1104
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lembretes_enviados",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.lembrete_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_resposta",
                "fieldValue": "reagenda"
              },
              {
                "fieldId": "data_resposta",
                "fieldValue": "={{ $now.toISO() }}"
              },
              {
                "fieldId": "escalado_humano",
                "fieldValue": "true"
              },
              {
                "fieldId": "data_escalacao",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "node-status-reagenda",
        "name": "Atualiza Status Reagenda",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          720
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lembretes_enviados",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.lembrete_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_resposta",
                "fieldValue": "duvida"
              },
              {
                "fieldId": "data_resposta",
                "fieldValue": "={{ $now.toISO() }}"
              },
              {
                "fieldId": "escalado_humano",
                "fieldValue": "true"
              },
              {
                "fieldId": "data_escalacao",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "node-status-duvida",
        "name": "Atualiza Status Duvida",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          880
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Busca lembretes j치 enviados via HTTP para Supabase\nconst items = $input.all();\n\n// STEP 1: Deduplica itens na entrada (pega apenas o primeiro de cada combina칞칚o)\nconst seen = new Set();\nconst uniqueItems = items.filter(item => {\n  const key = `${item.json.consulta_id}-${item.json.config_lembrete_nome}`;\n  if (seen.has(key)) {\n    return false;\n  }\n  seen.add(key);\n  return true;\n});\n\n// Extrai IDs 칰nicos de agendamentos\nconst agendamentoIds = [...new Set(uniqueItems.map(i => i.json.consulta_id))];\n\nif (agendamentoIds.length === 0) {\n  return [];\n}\n\n// STEP 2: Busca lembretes j치 enviados no banco\nconst supabaseUrl = $env.SUPABASE_URL || 'https://gkweofpjwzsvlvnvfbom.supabase.co';\nconst supabaseKey = $env.SUPABASE_KEY || $env.SUPABASE_ANON_KEY;\n\nlet enviados = [];\ntry {\n  const response = await fetch(\n    `${supabaseUrl}/rest/v1/lembretes_enviados?agendamento_id=in.(${agendamentoIds.join(',')})&select=agendamento_id,tipo_lembrete`,\n    {\n      headers: {\n        'apikey': supabaseKey,\n        'Authorization': `Bearer ${supabaseKey}`\n      }\n    }\n  );\n  enviados = await response.json();\n} catch (e) {\n  console.log('Erro ao buscar lembretes:', e.message);\n}\n\n// STEP 3: Cria set de combina칞칫es j치 enviadas\nconst jaEnviados = new Set(\n  enviados.map(e => `${e.agendamento_id}-${e.tipo_lembrete}`)\n);\n\n// STEP 4: Filtra apenas os que N츾O foram enviados\nconst naoEnviados = uniqueItems.filter(item => {\n  const chave = `${item.json.consulta_id}-${item.json.config_lembrete_nome}`;\n  return !jaEnviados.has(chave);\n});\n\nconsole.log(`Items entrada: ${items.length}, 칔nicos: ${uniqueItems.length}, J치 enviados: ${enviados.length}, A enviar: ${naoEnviados.length}`);\n\n// Return items in proper N8N format\nreturn naoEnviados.length > 0 ? naoEnviados : [];}"
        },
        "id": "node-filtra-nao-enviados",
        "name": "Filtra Nao Enviados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          208
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "config_evolution",
          "limit": 1,
          "filterType": "string",
          "filterString": "nome=eq.default"
        },
        "id": "busca-config-evolution",
        "name": "Vari치veis Globais",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1104,
          112
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "config_evolution",
          "limit": 1,
          "filterType": "string",
          "filterString": "nome=eq.default"
        },
        "id": "busca-config-evo-webhook",
        "name": "Vari치veis Globais Webhook",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1104,
          560
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "config_evolution",
          "limit": 1,
          "filterType": "string",
          "filterString": "nome=eq.default"
        },
        "id": "busca-config-evo-escalacao",
        "name": "Vari치veis Globais Escalacao",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1104,
          960
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "nome",
                "name": "nome",
                "value": "={{ $json.paciente_nome.split(' ')[0] }}",
                "type": "string"
              },
              {
                "id": "tipo_consulta",
                "name": "tipo_consulta",
                "value": "={{ $json.tipo_consulta || $json.servico_nome }}",
                "type": "string"
              },
              {
                "id": "data_formatada",
                "name": "data_formatada",
                "value": "={{ DateTime.fromISO($json.data_hora).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}",
                "type": "string"
              },
              {
                "id": "horario",
                "name": "horario",
                "value": "={{ DateTime.fromISO($json.data_hora).setZone('America/Sao_Paulo').toFormat('HH:mm') }}",
                "type": "string"
              },
              {
                "id": "tipo_lembrete",
                "name": "tipo_lembrete",
                "value": "={{ $json.tipo_lembrete }}",
                "type": "string"
              },
              {
                "id": "score_risco",
                "name": "score_risco",
                "value": "={{ $json.score_risco }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "prepara-dados-lembrete",
        "name": "Prepara Dados Lembrete",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          112
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "/test/anti-no-show",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "webhook-test",
        "name": "Webhook Teste",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1200,
          512
        ],
        "webhookId": "3a756d46-ac40-49db-b0ab-6cbdd3a3e27c"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "agendamento-id",
                "name": "agendamento_id",
                "value": "={{ $json.body?.agendamento_id }}",
                "type": "number"
              },
              {
                "id": "bypass-timing",
                "name": "bypass_timing",
                "value": "={{ $json.body?.bypass_timing || false }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "id": "parse-test-payload",
        "name": "Parse Test Payload",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1008,
          512
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "has-id",
                "leftValue": "={{ $json.agendamento_id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists"
                }
              }
            ]
          },
          "looseTypeValidation": true
        },
        "id": "if-specific-agendamento",
        "name": "Tem Agendamento Espec칤fico?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -800,
          512
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT a.id, a.paciente_id, a.data_hora, a.tipo_consulta, p.nome as paciente_nome, p.telefone as paciente_telefone FROM agendamentos a JOIN pacientes p ON a.paciente_id = p.id WHERE a.id = {{ $json.agendamento_id }}"
        },
        "id": "busca-agendamento-test",
        "name": "Busca Agendamento Teste",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -608,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "xwAYczJevSyqr2Is",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "resource": "row",
          "operation": "get",
          "tableId": "config_globais",
          "id": "={{ 1 }}"
        },
        "id": "variaveis-globais-test",
        "name": "Vari치veis Globais Teste",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -608,
          608
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "lembretes_enviados",
          "limit": 1,
          "matchType": "allFilters"
        },
        "id": "verifica-lembrete-existente",
        "name": "Verifica Lembrete J치 Enviado",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          112
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-no-lembrete",
                "leftValue": "={{ $('Verifica Lembrete J치 Enviado').all().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-lembrete-nao-enviado",
        "name": "Lembrete N칚o Foi Enviado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          112
        ]
      },
      {
        "parameters": {
          "tableId": "n8n_chat_histories",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "session_id",
                "fieldValue": "={{ $('Busca Lembrete Pendente').item.json.telefone }}-calendar"
              },
              {
                "fieldId": "message",
                "fieldValue": "={{ JSON.stringify({type: 'ai', content: $('Responde Paciente').item.json.message.conversation, tool_calls: [], additional_kwargs: {}, response_metadata: {}, invalid_tool_calls: []}) }}"
              }
            ]
          }
        },
        "id": "registra-resposta-memoria",
        "name": "Registra Resposta na Mem칩ria",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          720,
          512
        ],
        "credentials": {
          "supabaseApi": {
            "id": "vjxdwL14zFNscRrD",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Verifica Consultas": {
        "main": [
          [
            {
              "node": "Vari치veis Globais",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Config Lembretes": {
        "main": [
          [
            {
              "node": "Busca Agendamentos 48h",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Agendamentos 48h": {
        "main": [
          [
            {
              "node": "Combina Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combina Dados": {
        "main": [
          [
            {
              "node": "Calcula Tempo Restante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcula Tempo Restante": {
        "main": [
          [
            {
              "node": "Timing Correto?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Historico Paciente": {
        "main": [
          [
            {
              "node": "Prepara Dados Analise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Dados Analise": {
        "main": [
          [
            {
              "node": "IA Analisa Risco No-Show",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA Analisa Risco No-Show": {
        "main": [
          [
            {
              "node": "Extrai Score Risco",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA Gera Mensagem": {
        "main": [
          [
            {
              "node": "Prepara Envio WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Envio WhatsApp": {
        "main": [
          [
            {
              "node": "Envia WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia WhatsApp": {
        "main": [
          [
            {
              "node": "Registra Lembrete Enviado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Resposta Paciente": {
        "main": [
          [
            {
              "node": "Vari치veis Globais Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrai Dados Resposta": {
        "main": [
          [
            {
              "node": "Busca Lembrete Pendente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Lembrete Pendente": {
        "main": [
          [
            {
              "node": "Tem Lembrete Pendente?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem Lembrete Pendente?": {
        "main": [
          [
            {
              "node": "IA Interpreta Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA Interpreta Resposta": {
        "main": [
          [
            {
              "node": "Extrai Categoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrai Categoria": {
        "main": [
          [
            {
              "node": "Direciona por Categoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Direciona por Categoria": {
        "main": [
          [
            {
              "node": "Atualiza Status Confirmado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualiza Status Cancelado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualiza Status Reagenda",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualiza Status Duvida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza Status Confirmado": {
        "main": [
          [
            {
              "node": "Responde Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza Status Cancelado": {
        "main": [
          [
            {
              "node": "Responde Paciente",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca Lista Espera",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Lista Espera": {
        "main": [
          [
            {
              "node": "Tem Pessoas na Espera?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem Pessoas na Espera?": {
        "main": [
          [
            {
              "node": "Busca Dados Agendamento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualiza Agendamento Cancelado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Dados Agendamento": {
        "main": [
          [
            {
              "node": "Prepara Oferta Vaga",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Oferta Vaga": {
        "main": [
          [
            {
              "node": "IA Gera Mensagem Vaga",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA Gera Mensagem Vaga": {
        "main": [
          [
            {
              "node": "Envia Oferta para Espera",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia Oferta para Espera": {
        "main": [
          [
            {
              "node": "Atualiza Espera Contatado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica Nao Respondidos": {
        "main": [
          [
            {
              "node": "Vari치veis Globais Escalacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Lembretes Sem Resposta": {
        "main": [
          [
            {
              "node": "Filtra +4h Sem Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtra +4h Sem Resposta": {
        "main": [
          [
            {
              "node": "Busca Agendamento para Escalar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Agendamento para Escalar": {
        "main": [
          [
            {
              "node": "Prepara Notificacao Humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Notificacao Humano": {
        "main": [
          [
            {
              "node": "IA Gera Alerta Recepcionista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA Gera Alerta Recepcionista": {
        "main": [
          [
            {
              "node": "Envia Alerta Recepcionista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia Alerta Recepcionista": {
        "main": [
          [
            {
              "node": "Marca como Escalado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza Status Reagenda": {
        "main": [
          [
            {
              "node": "Responde Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza Status Duvida": {
        "main": [
          [
            {
              "node": "Responde Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Timing Correto?": {
        "main": [
          [
            {
              "node": "Filtra Nao Enviados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vari치veis Globais": {
        "main": [
          [
            {
              "node": "Busca Config Lembretes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vari치veis Globais Webhook": {
        "main": [
          [
            {
              "node": "Extrai Dados Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vari치veis Globais Escalacao": {
        "main": [
          [
            {
              "node": "Busca Lembretes Sem Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrai Score Risco": {
        "main": [
          [
            {
              "node": "Prepara Dados Lembrete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Dados Lembrete": {
        "main": [
          [
            {
              "node": "IA Gera Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Teste": {
        "main": [
          [
            {
              "node": "Parse Test Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Test Payload": {
        "main": [
          [
            {
              "node": "Tem Agendamento Espec칤fico?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem Agendamento Espec칤fico?": {
        "main": [
          [
            {
              "node": "Busca Agendamento Teste",
              "type": "main",
              "index": 0
            },
            {
              "node": "Vari치veis Globais Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vari치veis Globais Teste": {
        "main": [
          [
            {
              "node": "Busca Config Lembretes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Agendamento Teste": {
        "main": [
          [
            {
              "node": "Combina Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtra Nao Enviados": {
        "0": [
          [
            {
              "node": "Verifica Lembrete J치 Enviado",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Verifica Lembrete J치 Enviado": {
        "0": [
          [
            {
              "node": "Lembrete N칚o Foi Enviado?",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Lembrete N칚o Foi Enviado?": {
        "0": [
          [
            {
              "node": "Busca Historico Paciente",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Responde Paciente": {
        "main": [
          [
            {
              "node": "Registra Resposta na Mem칩ria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {
      "node:Verifica Consultas": {
        "recurrenceRules": []
      },
      "node:Verifica Nao Respondidos": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "bd3461fa-a74b-4661-8ae4-00c1cef9e479",
    "activeVersionId": "bd3461fa-a74b-4661-8ae4-00c1cef9e479",
    "versionCounter": 164,
    "triggerCount": 4,
    "shared": [
      {
        "updatedAt": "2026-01-12T23:38:36.791Z",
        "createdAt": "2026-01-12T23:38:36.791Z",
        "role": "workflow:owner",
        "workflowId": "HTR3ITfFDrK6eP2R",
        "projectId": "ASfue6RWpsJm853c",
        "project": {
          "updatedAt": "2025-12-05T22:24:07.951Z",
          "createdAt": "2025-12-05T22:00:55.676Z",
          "id": "ASfue6RWpsJm853c",
          "name": "Gilberto Abrao <ggafbr@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "updatedAt": "2025-12-05T22:00:55.677Z",
              "createdAt": "2025-12-05T22:00:55.677Z",
              "userId": "c33d65c2-d5ef-4f2d-aedf-5c2969300ec6",
              "projectId": "ASfue6RWpsJm853c",
              "user": {
                "updatedAt": "2026-01-17T14:28:30.000Z",
                "createdAt": "2025-12-05T22:00:54.144Z",
                "id": "c33d65c2-d5ef-4f2d-aedf-5c2969300ec6",
                "email": "ggafbr@gmail.com",
                "firstName": "Gilberto",
                "lastName": "Abrao",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-05T22:24:49.386Z",
                  "personalization_survey_n8n_version": "1.122.5",
                  "companySize": "<20",
                  "companyType": "saas",
                  "role": "business-owner",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "easyAIWorkflowOnboarded": true,
                  "firstSuccessfulWorkflowId": "bPJamJhBcrVCKgBg",
                  "userActivatedAt": 1768257177840,
                  "npsSurvey": {
                    "waitingForResponse": true,
                    "ignoredCount": 1,
                    "lastShownAt": 1768576370648
                  }
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-01-17",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-01-17T15:09:20.087Z",
      "createdAt": "2026-01-17T15:09:20.087Z",
      "versionId": "bd3461fa-a74b-4661-8ae4-00c1cef9e479",
      "workflowId": "HTR3ITfFDrK6eP2R",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 15
                }
              ]
            }
          },
          "id": "schedule-trigger",
          "name": "Verifica Consultas",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.2,
          "position": [
            -1200,
            304
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "config_lembretes",
            "returnAll": true,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "ativo",
                  "condition": "eq",
                  "keyValue": "true"
                }
              ]
            }
          },
          "id": "config-lembretes",
          "name": "Busca Config Lembretes",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -1008,
            304
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "agendamentos_completos",
            "returnAll": true,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "data_hora",
                  "condition": "gte",
                  "keyValue": "={{ $now.toISO() }}"
                },
                {
                  "keyName": "data_hora",
                  "condition": "lte",
                  "keyValue": "={{ $now.plus({ hours: 48 }).toISO() }}"
                },
                {
                  "keyName": "status",
                  "condition": "eq",
                  "keyValue": "agendada"
                }
              ]
            }
          },
          "id": "google-calendar",
          "name": "Busca Agendamentos 48h",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -800,
            304
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {},
          "id": "merge-data",
          "name": "Combina Dados",
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3,
          "position": [
            -608,
            304
          ]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "consulta-id",
                  "name": "consulta_id",
                  "value": "={{ $json.id }}",
                  "type": "number"
                },
                {
                  "id": "paciente-nome",
                  "name": "paciente_nome",
                  "value": "={{ $json.paciente_nome }}",
                  "type": "string"
                },
                {
                  "id": "paciente-tel",
                  "name": "paciente_telefone",
                  "value": "={{ $json.paciente_telefone }}",
                  "type": "string"
                },
                {
                  "id": "paciente-email",
                  "name": "paciente_email",
                  "value": "={{ $json.paciente_email || '' }}",
                  "type": "string"
                },
                {
                  "id": "evento-inicio",
                  "name": "consulta_inicio",
                  "value": "={{ $json.data_hora }}",
                  "type": "string"
                },
                {
                  "id": "tipo-consulta",
                  "name": "tipo_consulta",
                  "value": "={{ $json.tipo_consulta }}",
                  "type": "string"
                },
                {
                  "id": "profissional",
                  "name": "profissional",
                  "value": "={{ $json.profissional }}",
                  "type": "string"
                },
                {
                  "id": "horas-restantes",
                  "name": "horas_ate_consulta",
                  "value": "={{ Math.round((new Date($json.data_hora).getTime() - Date.now()) / (1000 * 60 * 60) * 100) / 100 }}",
                  "type": "number"
                },
                {
                  "id": "config-nome",
                  "name": "config_lembrete_nome",
                  "value": "={{ $json.config_nome || $('Busca Config Lembretes').item.json.nome }}",
                  "type": "string"
                },
                {
                  "id": "config-horas",
                  "name": "config_horas_antes",
                  "value": "={{ $json.config_horas_antes || $('Busca Config Lembretes').item.json.horas_antes }}",
                  "type": "number"
                },
                {
                  "id": "config-template",
                  "name": "config_template_tipo",
                  "value": "={{ $json.config_template_tipo || $('Busca Config Lembretes').item.json.template_tipo }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "calcula-tempo",
          "name": "Calcula Tempo Restante",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -400,
            304
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "version": 2,
                "leftValue": "",
                "caseSensitive": true,
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "cond-timing",
                  "leftValue": "={{ $json.horas_ate_consulta }}",
                  "rightValue": "={{ $json.config_horas_antes }}",
                  "operator": {
                    "type": "number",
                    "operation": "gte"
                  }
                },
                {
                  "id": "cond-timing-max",
                  "leftValue": "={{ $json.horas_ate_consulta }}",
                  "rightValue": "={{ $json.config_horas_antes + 0.5 }}",
                  "operator": {
                    "type": "number",
                    "operation": "lte"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "if-timing",
          "name": "Timing Correto?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            -208,
            304
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "historico_noshow",
            "returnAll": true,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "telefone",
                  "condition": "eq",
                  "keyValue": "={{ $('Calcula Tempo Restante').item.json.paciente_email }}"
                }
              ]
            }
          },
          "id": "busca-historico",
          "name": "Busca Historico Paciente",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            400,
            112
          ],
          "alwaysOutputData": true,
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "dados-paciente",
                  "name": "dados_paciente",
                  "value": "={{ JSON.stringify($('Calcula Tempo Restante').item.json) }}",
                  "type": "string"
                },
                {
                  "id": "historico",
                  "name": "historico_noshow",
                  "value": "={{ $json.length > 0 ? 'Total consultas: ' + $json.length + ', Faltas: ' + $json.filter(h => !h.compareceu).length : 'Sem historico' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "prepara-analise",
          "name": "Prepara Dados Analise",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            608,
            112
          ]
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "gpt-4.1-mini",
              "mode": "list"
            },
            "messages": {
              "values": [
                {
                  "content": "=Voce e um analista de risco de no-show para clinica de estetica.\n\nAnalise o risco deste paciente faltar na consulta.\n\nDados do paciente e consulta:\n{{ $json.dados_paciente }}\n\nHistorico do paciente:\n{{ $json.historico_noshow }}\n\nRegras de analise:\n- Sexta-feira tarde: +20% risco\n- Segunda-feira manha: +10% risco\n- Paciente sem historico: risco medio (0.3)\n- Cada falta anterior: +15% risco\n- Consulta de retorno: -10% risco\n\nRetorne APENAS um JSON valido (sem markdown):\n{\"risco\": 0.0 a 1.0, \"fatores\": [\"fator1\", \"fator2\"], \"recomendacao\": \"lembrete_normal\" ou \"lembrete_reforcado\" ou \"ligar_antes\"}"
                }
              ]
            },
            "options": {
              "temperature": 0.3
            }
          },
          "id": "analise-risco",
          "name": "IA Analisa Risco No-Show",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            784,
            112
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "risco-obj",
                  "name": "analise_risco",
                  "value": "={{ JSON.parse($json.message.content) }}",
                  "type": "object"
                },
                {
                  "id": "risco-score",
                  "name": "risco_score",
                  "value": "={{ JSON.parse($json.message.content).risco }}",
                  "type": "number"
                },
                {
                  "id": "dados-evento",
                  "name": "evento",
                  "value": "={{ $('Calcula Tempo Restante').item.json }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "id": "parse-risco",
          "name": "Extrai Score Risco",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1056,
            112
          ]
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "gpt-4.1-mini",
              "mode": "list",
              "cachedResultName": "GPT-4.1-MINI"
            },
            "messages": {
              "values": [
                {
                  "content": "=Voce e Marilia, assistente da Dra. Paula. Gere uma mensagem de lembrete HUMANIZADA para o paciente.\n\nDados:\n- Nome: {{ $json.nome }}\n- Consulta: {{ $json.tipo_consulta || 'consulta' }}\n- Data: {{ $json.data_formatada }}\n- Horario: {{ $json.horario }}\n- Tipo de lembrete: {{ $json.tipo_lembrete }}\n\nREGRAS IMPORTANTES:\n- NUNCA use frases como 'Responda X ou Y' ou 'Digite CONFIRMAR'\n- Seja natural e acolhedora como uma secretaria real\n- Use no maximo 2 emojis\n- Maximo 3 frases curtas\n- Se for lembrete_2h, seja mais direta pois a consulta e em breve\n- Se for lembrete_24h ou 48h, pode ser mais casual\n\nExemplos de tom correto:\n- 'Oi Joao! Passando pra lembrar da sua consulta amanha as 10h com a Dra. Paula. Nos vemos la! 游땕'\n- 'Gilberto, sua consulta e daqui a pouquinho, as 15h! Qualquer coisa me avisa aqui. Ate ja!'\n\nGere apenas a mensagem, sem explicacoes."
                }
              ]
            },
            "options": {}
          },
          "id": "gera-mensagem",
          "name": "IA Gera Mensagem",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            1200,
            112
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "telefone",
                  "name": "telefone",
                  "value": "={{ $('Calcula Tempo Restante').item.json.paciente_telefone }}",
                  "type": "string"
                },
                {
                  "id": "mensagem",
                  "name": "mensagem",
                  "value": "={{ $json.message.content }}",
                  "type": "string"
                },
                {
                  "id": "consulta-id-final",
                  "name": "consulta_id",
                  "value": "={{ $('Calcula Tempo Restante').item.json.consulta_id }}",
                  "type": "number"
                },
                {
                  "id": "tipo-lembrete",
                  "name": "tipo_lembrete",
                  "value": "={{ $('Calcula Tempo Restante').item.json.config_lembrete_nome }}",
                  "type": "string"
                },
                {
                  "id": "risco-final",
                  "name": "risco_score",
                  "value": "={{ $('Extrai Score Risco').item.json.risco_score }}",
                  "type": "number"
                }
              ]
            },
            "options": {}
          },
          "id": "prepara-envio",
          "name": "Prepara Envio WhatsApp",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1472,
            112
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Vari치veis Globais').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais').first().json.instancia }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Vari치veis Globais').first().json.api_key }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $json.telefone }}\",\n    \"text\": \"{{ $json.mensagem.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
            "options": {}
          },
          "id": "envia-whatsapp",
          "name": "Envia WhatsApp",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1600,
            112
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "=INSERT INTO lembretes_enviados (agendamento_id, telefone, tipo_lembrete, status_resposta, enviado_em)\nVALUES (\n  {{ $('Busca Agendamentos 48h').item.json.id }},\n  '{{ $('Busca Agendamentos 48h').item.json.paciente_telefone }}',\n  '{{ $json.tipo_lembrete }}',\n  'pendente',\n  NOW()\n)\nRETURNING *;"
          },
          "id": "registra-lembrete",
          "name": "Registra Lembrete Enviado",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.6,
          "position": [
            1808,
            112
          ],
          "credentials": {
            "postgres": {
              "id": "xwAYczJevSyqr2Is",
              "name": "Postgres account"
            }
          }
        },
        {
          "parameters": {
            "content": "## Botfy - Anti No-Show\nVerifica consultas proximas e envia lembretes inteligentes",
            "height": 100,
            "width": 400,
            "color": 4
          },
          "id": "sticky-titulo",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -1664,
            304
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "## Analise de Risco IA\nCalcula probabilidade de no-show",
            "height": 80,
            "width": 300,
            "color": 2
          },
          "id": "sticky-analise",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            752,
            -48
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "## Envio e Registro\nWhatsApp + Supabase",
            "height": 80,
            "width": 300,
            "color": 6
          },
          "id": "sticky-envio",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1360,
            -48
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "anti-noshow-resposta",
            "options": {}
          },
          "id": "webhook-resposta",
          "name": "Webhook Resposta Paciente",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            -1200,
            704
          ],
          "webhookId": "anti-noshow-webhook-001"
        },
        {
          "parameters": {
            "jsCode": "// Extrai dados da resposta do Evolution API\n// Busca dados do webhook diretamente pelo nome do node\nconst webhookData = $('Webhook Resposta Paciente').first().json;\nconst body = webhookData.body || {};\nconst nestedBody = body.body || body;\n\n// Busca credenciais das Vari치veis Globais\nconst config = $input.first().json;\n\n// Tenta extrair telefone de diferentes estruturas\nlet telefone = '';\nif (nestedBody.data && nestedBody.data.key && nestedBody.data.key.remoteJid) {\n  telefone = nestedBody.data.key.remoteJid.replace('@s.whatsapp.net', '');\n}\n\n// Tenta extrair mensagem\nlet mensagem = '';\nif (nestedBody.data && nestedBody.data.message) {\n  mensagem = nestedBody.data.message.conversation || \n             (nestedBody.data.message.extendedTextMessage && nestedBody.data.message.extendedTextMessage.text) || \n             '';\n}\n\nreturn [{\n  json: {\n    telefone,\n    mensagem,\n    instancia: config.instancia || nestedBody.instance || '',\n    api_url: config.api_url || '',\n    api_key: config.api_key || ''\n  }\n}];"
          },
          "id": "extrai-dados-resposta",
          "name": "Extrai Dados Resposta",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -1008,
            704
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "lembretes_enviados",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "telefone",
                  "condition": "eq",
                  "keyValue": "={{ $json.telefone }}"
                },
                {
                  "keyName": "status_resposta",
                  "condition": "eq",
                  "keyValue": "pendente"
                }
              ]
            }
          },
          "id": "busca-lembrete-pendente",
          "name": "Busca Lembrete Pendente",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -800,
            704
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "version": 2,
                "leftValue": "",
                "caseSensitive": true,
                "typeValidation": "loose"
              },
              "conditions": [
                {
                  "id": "cond-lembrete",
                  "leftValue": "={{ $json.id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "number",
                    "operation": "exists"
                  }
                }
              ],
              "combinator": "and"
            },
            "looseTypeValidation": true,
            "options": {}
          },
          "id": "if-tem-lembrete",
          "name": "Tem Lembrete Pendente?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            -608,
            704
          ]
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "gpt-4.1-mini",
              "mode": "list"
            },
            "messages": {
              "values": [
                {
                  "content": "=Voce e um assistente que interpreta respostas de pacientes sobre confirmacao de consulta.\n\nMensagem do paciente: \"{{ $('Extrai Dados Resposta').item.json.mensagem }}\"\n\nClassifique a resposta em UMA das categorias:\n- CONFIRMA: paciente confirmou presenca (sim, ok, confirmado, vou, estarei la, etc)\n- CANCELA: paciente quer cancelar (nao vou, cancela, desmarcar, nao posso, etc)\n- REAGENDA: paciente quer mudar horario (trocar, remarcar, outro horario, etc)\n- DUVIDA: paciente tem duvida ou resposta nao clara\n\nRetorne APENAS um JSON valido:\n{\"categoria\": \"CONFIRMA|CANCELA|REAGENDA|DUVIDA\", \"confianca\": 0.0 a 1.0, \"resposta_sugerida\": \"mensagem curta para responder ao paciente\"}"
                }
              ]
            },
            "options": {
              "temperature": 0.2
            }
          },
          "id": "ai-interpreta-resposta",
          "name": "IA Interpreta Resposta",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            -400,
            608
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "categoria",
                  "name": "categoria",
                  "value": "={{ JSON.parse($json.message.content).categoria }}",
                  "type": "string"
                },
                {
                  "id": "confianca",
                  "name": "confianca",
                  "value": "={{ JSON.parse($json.message.content).confianca }}",
                  "type": "number"
                },
                {
                  "id": "resposta-sugerida",
                  "name": "resposta_sugerida",
                  "value": "={{ JSON.parse($json.message.content).resposta_sugerida }}",
                  "type": "string"
                },
                {
                  "id": "lembrete-id",
                  "name": "lembrete_id",
                  "value": "={{ $('Busca Lembrete Pendente').item.json.id }}",
                  "type": "number"
                },
                {
                  "id": "consulta-id-resp",
                  "name": "consulta_id",
                  "value": "={{ $('Busca Lembrete Pendente').item.json.consulta_id }}",
                  "type": "number"
                },
                {
                  "id": "telefone-final",
                  "name": "telefone",
                  "value": "={{ $('Extrai Dados Resposta').item.json.telefone }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "parse-categoria",
          "name": "Extrai Categoria",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -208,
            608
          ]
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "cond-confirma",
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "CONFIRMA",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "CONFIRMA"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "cond-cancela",
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "CANCELA",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "CANCELA"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "cond-reagenda",
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "REAGENDA",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "REAGENDA"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "cond-duvida",
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "DUVIDA",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "DUVIDA"
                }
              ]
            },
            "options": {}
          },
          "id": "switch-categoria",
          "name": "Direciona por Categoria",
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.2,
          "position": [
            0,
            608
          ]
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "lembretes_enviados",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.lembrete_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "status_resposta",
                  "fieldValue": "confirmado"
                },
                {
                  "fieldId": "data_resposta",
                  "fieldValue": "={{ $now.toISO() }}"
                }
              ]
            }
          },
          "id": "atualiza-confirmado",
          "name": "Atualiza Status Confirmado",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            256,
            400
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "lembretes_enviados",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.lembrete_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "status_resposta",
                  "fieldValue": "cancelado"
                },
                {
                  "fieldId": "data_resposta",
                  "fieldValue": "={{ $now.toISO() }}"
                }
              ]
            }
          },
          "id": "atualiza-cancelado",
          "name": "Atualiza Status Cancelado",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            256,
            560
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Vari치veis Globais Webhook').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais Webhook').first().json.instancia }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Vari치veis Globais Webhook').first().json.api_key }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $('Extrai Dados Resposta').first().json.telefone }}\",\n    \"text\": \"{{ ($json.resposta || 'Obrigado pela sua resposta!').replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
            "options": {}
          },
          "id": "responde-paciente",
          "name": "Responde Paciente",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            512,
            512
          ]
        },
        {
          "parameters": {
            "content": "## Webhook Respostas\nRecebe confirmacao/cancelamento do paciente",
            "height": 100,
            "width": 350,
            "color": 5
          },
          "id": "sticky-webhook",
          "name": "Sticky Note Webhook",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -1632,
            704
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "lista_espera",
            "limit": 3,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "status",
                  "condition": "eq",
                  "keyValue": "aguardando"
                }
              ]
            }
          },
          "id": "busca-lista-espera",
          "name": "Busca Lista Espera",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            256,
            752
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "version": 2,
                "leftValue": "",
                "caseSensitive": true,
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "cond-espera",
                  "leftValue": "={{ $json }}",
                  "rightValue": "",
                  "operator": {
                    "type": "object",
                    "operation": "notEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "if-tem-espera",
          "name": "Tem Pessoas na Espera?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            464,
            752
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "agendamentos_completos",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $('Busca Lembrete Pendente').item.json.agendamento_id }}"
                }
              ]
            }
          },
          "id": "busca-evento-cancelado",
          "name": "Busca Dados Agendamento",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            656,
            656
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "espera-telefone",
                  "name": "telefone_espera",
                  "value": "={{ $('Busca Lista Espera').item.json.telefone }}",
                  "type": "string"
                },
                {
                  "id": "espera-nome",
                  "name": "nome_espera",
                  "value": "={{ $('Busca Lista Espera').item.json.nome }}",
                  "type": "string"
                },
                {
                  "id": "espera-id",
                  "name": "espera_id",
                  "value": "={{ $('Busca Lista Espera').item.json.id }}",
                  "type": "number"
                },
                {
                  "id": "consulta-data",
                  "name": "evento_data",
                  "value": "={{ $json.data_hora }}",
                  "type": "string"
                },
                {
                  "id": "consulta-tipo",
                  "name": "evento_titulo",
                  "value": "={{ $json.tipo_consulta }}",
                  "type": "string"
                },
                {
                  "id": "consulta-id",
                  "name": "consulta_id",
                  "value": "={{ $json.id }}",
                  "type": "number"
                }
              ]
            },
            "options": {}
          },
          "id": "prepara-oferta-vaga",
          "name": "Prepara Oferta Vaga",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            864,
            656
          ]
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "gpt-4.1-mini",
              "mode": "list"
            },
            "messages": {
              "values": [
                {
                  "content": "=Gere uma mensagem curta oferecendo uma vaga que abriu para um paciente na lista de espera.\n\nDados:\n- Nome do paciente: {{ $json.nome_espera }}\n- Data/hora da vaga: {{ $json.evento_data }}\n- Clinica da Dra. Paula\n\nRegras:\n- Maximo 200 caracteres\n- Tom animado mas profissional\n- Pedir para responder SIM se quiser a vaga\n- Mencionar que e por ordem de chegada\n- Assinar como Marilia\n\nRetorne APENAS a mensagem, sem aspas."
                }
              ]
            },
            "options": {
              "temperature": 0.7
            }
          },
          "id": "gera-msg-espera",
          "name": "IA Gera Mensagem Vaga",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            1056,
            656
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Vari치veis Globais Webhook').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais Webhook').first().json.instancia }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Vari치veis Globais Webhook').first().json.api_key }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $json.telefone }}\",\n    \"text\": \"{{ $json.mensagem.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
            "options": {}
          },
          "id": "envia-oferta-espera",
          "name": "Envia Oferta para Espera",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1344,
            656
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "=UPDATE lista_espera SET status = 'contatado', contatado_em = NOW() WHERE id = {{ $('Busca Lista Espera').item.json.id }}"
          },
          "id": "atualiza-espera-contatado",
          "name": "Atualiza Espera Contatado",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.6,
          "position": [
            1504,
            656
          ],
          "credentials": {
            "postgres": {
              "id": "xwAYczJevSyqr2Is",
              "name": "Postgres account"
            }
          }
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "agendamentos",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $('Busca Lembrete Pendente').item.json.agendamento_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "status",
                  "fieldValue": "cancelada"
                },
                {
                  "fieldId": "updated_at",
                  "fieldValue": "={{ $now.toISO() }}"
                }
              ]
            }
          },
          "id": "deleta-evento-calendar",
          "name": "Atualiza Agendamento Cancelado",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            464,
            912
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "content": "## Lista de Espera\nQuando cancela, oferece vaga para quem esta aguardando",
            "height": 80,
            "width": 448,
            "color": 3
          },
          "id": "sticky-lista-espera",
          "name": "Sticky Note Lista Espera",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            528,
            400
          ]
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "hours"
                }
              ]
            }
          },
          "id": "schedule-escalacao",
          "name": "Verifica Nao Respondidos",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.2,
          "position": [
            -1200,
            1104
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "lembretes_enviados",
            "returnAll": true,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "status_resposta",
                  "condition": "eq",
                  "keyValue": "pendente"
                },
                {
                  "keyName": "escalado_humano",
                  "condition": "eq",
                  "keyValue": "false"
                }
              ]
            }
          },
          "id": "busca-pendentes-antigos",
          "name": "Busca Lembretes Sem Resposta",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -1008,
            1104
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "cond-4h",
                  "leftValue": "={{ ($now.toMillis() - $json.data_envio.toDateTime().toMillis()) / (1000 * 60 * 60) }}",
                  "rightValue": 4,
                  "operator": {
                    "type": "number",
                    "operation": "gte"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "filtra-4h-sem-resposta",
          "name": "Filtra +4h Sem Resposta",
          "type": "n8n-nodes-base.filter",
          "typeVersion": 2.2,
          "position": [
            -800,
            1104
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "agendamentos_completos",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.agendamento_id }}"
                }
              ]
            }
          },
          "id": "busca-evento-escalar",
          "name": "Busca Agendamento para Escalar",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -608,
            1104
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "notif-paciente",
                  "name": "paciente_nome",
                  "value": "={{ $json.paciente_nome }}",
                  "type": "string"
                },
                {
                  "id": "notif-telefone",
                  "name": "paciente_telefone",
                  "value": "={{ $json.paciente_telefone || $('Filtra +4h Sem Resposta').item.json.telefone }}",
                  "type": "string"
                },
                {
                  "id": "notif-consulta",
                  "name": "consulta_data",
                  "value": "={{ $json.data_hora }}",
                  "type": "string"
                },
                {
                  "id": "notif-tipo",
                  "name": "tipo_consulta",
                  "value": "={{ $json.tipo_consulta }}",
                  "type": "string"
                },
                {
                  "id": "notif-profissional",
                  "name": "profissional",
                  "value": "={{ $json.profissional }}",
                  "type": "string"
                },
                {
                  "id": "notif-risco",
                  "name": "risco_noshow",
                  "value": "={{ $('Filtra +4h Sem Resposta').item.json.risco_noshow }}",
                  "type": "number"
                },
                {
                  "id": "notif-lembrete-id",
                  "name": "lembrete_id",
                  "value": "={{ $('Filtra +4h Sem Resposta').item.json.id }}",
                  "type": "number"
                }
              ]
            },
            "options": {}
          },
          "id": "prepara-notif-humano",
          "name": "Prepara Notificacao Humano",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -400,
            1104
          ]
        },
        {
          "parameters": {
            "modelId": {
              "__rl": true,
              "value": "gpt-4.1-mini",
              "mode": "list"
            },
            "messages": {
              "values": [
                {
                  "content": "=Gere um alerta para a recepcionista sobre paciente que nao confirmou consulta.\n\nDados:\n- Paciente: {{ $json.paciente_nome }}\n- Telefone: {{ $json.paciente_telefone }}\n- Consulta: {{ $json.consulta_data }}\n- Risco no-show: {{ $json.risco_noshow * 100 }}%\n\nFormato:\n丘멆잺 PACIENTE NAO CONFIRMOU\n\nPaciente: [nome]\nTelefone: [telefone]\nConsulta: [data formatada]\nRisco: [ALTO/MEDIO/BAIXO] ([%])\n\nAcao sugerida: [sugestao baseada no risco]\n\nRetorne APENAS a mensagem formatada."
                }
              ]
            },
            "options": {
              "temperature": 0.3
            }
          },
          "id": "gera-alerta-humano",
          "name": "IA Gera Alerta Recepcionista",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [
            -208,
            1104
          ],
          "credentials": {
            "openAiApi": {
              "id": "b2f06NWMfx9VK1I2",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Vari치veis Globais Escalacao').first().json.api_url }}/message/sendText/{{ $('Vari치veis Globais Escalacao').first().json.instancia }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "={{ $('Vari치veis Globais Escalacao').first().json.api_key }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"number\": \"{{ $('Prepara Notificacao Humano').item.json.telefone_recepcionista || '5511999999999' }}\",\n    \"text\": \"{{ $json.message.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\",\n    \"delay\": 2000\n}",
            "options": {}
          },
          "id": "envia-alerta-recepcionista",
          "name": "Envia Alerta Recepcionista",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            64,
            1104
          ]
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "lembretes_enviados",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $('Prepara Notificacao Humano').item.json.lembrete_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "escalado_humano",
                  "fieldValue": "true"
                },
                {
                  "fieldId": "data_escalacao",
                  "fieldValue": "={{ $now.toISO() }}"
                }
              ]
            }
          },
          "id": "marca-escalado",
          "name": "Marca como Escalado",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            208,
            1104
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "content": "## Escalonamento para Humano\nVerifica a cada 1h se tem lembrete sem resposta ha mais de 4h",
            "height": 100,
            "width": 450,
            "color": 7
          },
          "id": "sticky-escalacao",
          "name": "Sticky Note Escalacao",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -1712,
            1104
          ]
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "lembretes_enviados",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.lembrete_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "status_resposta",
                  "fieldValue": "reagenda"
                },
                {
                  "fieldId": "data_resposta",
                  "fieldValue": "={{ $now.toISO() }}"
                },
                {
                  "fieldId": "escalado_humano",
                  "fieldValue": "true"
                },
                {
                  "fieldId": "data_escalacao",
                  "fieldValue": "={{ $now.toISO() }}"
                }
              ]
            }
          },
          "id": "node-status-reagenda",
          "name": "Atualiza Status Reagenda",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            256,
            720
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "lembretes_enviados",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.lembrete_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "status_resposta",
                  "fieldValue": "duvida"
                },
                {
                  "fieldId": "data_resposta",
                  "fieldValue": "={{ $now.toISO() }}"
                },
                {
                  "fieldId": "escalado_humano",
                  "fieldValue": "true"
                },
                {
                  "fieldId": "data_escalacao",
                  "fieldValue": "={{ $now.toISO() }}"
                }
              ]
            }
          },
          "id": "node-status-duvida",
          "name": "Atualiza Status Duvida",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            256,
            880
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "// Busca lembretes j치 enviados via HTTP para Supabase\nconst items = $input.all();\n\n// STEP 1: Deduplica itens na entrada (pega apenas o primeiro de cada combina칞칚o)\nconst seen = new Set();\nconst uniqueItems = items.filter(item => {\n  const key = `${item.json.consulta_id}-${item.json.config_lembrete_nome}`;\n  if (seen.has(key)) {\n    return false;\n  }\n  seen.add(key);\n  return true;\n});\n\n// Extrai IDs 칰nicos de agendamentos\nconst agendamentoIds = [...new Set(uniqueItems.map(i => i.json.consulta_id))];\n\nif (agendamentoIds.length === 0) {\n  return [];\n}\n\n// STEP 2: Busca lembretes j치 enviados no banco\nconst supabaseUrl = $env.SUPABASE_URL || 'https://gkweofpjwzsvlvnvfbom.supabase.co';\nconst supabaseKey = $env.SUPABASE_KEY || $env.SUPABASE_ANON_KEY;\n\nlet enviados = [];\ntry {\n  const response = await fetch(\n    `${supabaseUrl}/rest/v1/lembretes_enviados?agendamento_id=in.(${agendamentoIds.join(',')})&select=agendamento_id,tipo_lembrete`,\n    {\n      headers: {\n        'apikey': supabaseKey,\n        'Authorization': `Bearer ${supabaseKey}`\n      }\n    }\n  );\n  enviados = await response.json();\n} catch (e) {\n  console.log('Erro ao buscar lembretes:', e.message);\n}\n\n// STEP 3: Cria set de combina칞칫es j치 enviadas\nconst jaEnviados = new Set(\n  enviados.map(e => `${e.agendamento_id}-${e.tipo_lembrete}`)\n);\n\n// STEP 4: Filtra apenas os que N츾O foram enviados\nconst naoEnviados = uniqueItems.filter(item => {\n  const chave = `${item.json.consulta_id}-${item.json.config_lembrete_nome}`;\n  return !jaEnviados.has(chave);\n});\n\nconsole.log(`Items entrada: ${items.length}, 칔nicos: ${uniqueItems.length}, J치 enviados: ${enviados.length}, A enviar: ${naoEnviados.length}`);\n\n// Return items in proper N8N format\nreturn naoEnviados.length > 0 ? naoEnviados : [];}"
          },
          "id": "node-filtra-nao-enviados",
          "name": "Filtra Nao Enviados",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            0,
            208
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "config_evolution",
            "limit": 1,
            "filterType": "string",
            "filterString": "nome=eq.default"
          },
          "id": "busca-config-evolution",
          "name": "Vari치veis Globais",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -1104,
            112
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "config_evolution",
            "limit": 1,
            "filterType": "string",
            "filterString": "nome=eq.default"
          },
          "id": "busca-config-evo-webhook",
          "name": "Vari치veis Globais Webhook",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -1104,
            560
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "config_evolution",
            "limit": 1,
            "filterType": "string",
            "filterString": "nome=eq.default"
          },
          "id": "busca-config-evo-escalacao",
          "name": "Vari치veis Globais Escalacao",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -1104,
            960
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "nome",
                  "name": "nome",
                  "value": "={{ $json.paciente_nome.split(' ')[0] }}",
                  "type": "string"
                },
                {
                  "id": "tipo_consulta",
                  "name": "tipo_consulta",
                  "value": "={{ $json.tipo_consulta || $json.servico_nome }}",
                  "type": "string"
                },
                {
                  "id": "data_formatada",
                  "name": "data_formatada",
                  "value": "={{ DateTime.fromISO($json.data_hora).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}",
                  "type": "string"
                },
                {
                  "id": "horario",
                  "name": "horario",
                  "value": "={{ DateTime.fromISO($json.data_hora).setZone('America/Sao_Paulo').toFormat('HH:mm') }}",
                  "type": "string"
                },
                {
                  "id": "tipo_lembrete",
                  "name": "tipo_lembrete",
                  "value": "={{ $json.tipo_lembrete }}",
                  "type": "string"
                },
                {
                  "id": "score_risco",
                  "name": "score_risco",
                  "value": "={{ $json.score_risco }}",
                  "type": "number"
                }
              ]
            },
            "options": {}
          },
          "id": "prepara-dados-lembrete",
          "name": "Prepara Dados Lembrete",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1136,
            112
          ]
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "/test/anti-no-show",
            "responseMode": "onReceived",
            "options": {}
          },
          "id": "webhook-test",
          "name": "Webhook Teste",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            -1200,
            512
          ],
          "webhookId": "3a756d46-ac40-49db-b0ab-6cbdd3a3e27c"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "agendamento-id",
                  "name": "agendamento_id",
                  "value": "={{ $json.body?.agendamento_id }}",
                  "type": "number"
                },
                {
                  "id": "bypass-timing",
                  "name": "bypass_timing",
                  "value": "={{ $json.body?.bypass_timing || false }}",
                  "type": "boolean"
                }
              ]
            },
            "options": {}
          },
          "id": "parse-test-payload",
          "name": "Parse Test Payload",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -1008,
            512
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "version": 2,
                "leftValue": "",
                "caseSensitive": true,
                "typeValidation": "loose"
              },
              "combinator": "and",
              "conditions": [
                {
                  "id": "has-id",
                  "leftValue": "={{ $json.agendamento_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "number",
                    "operation": "exists"
                  }
                }
              ]
            },
            "looseTypeValidation": true
          },
          "id": "if-specific-agendamento",
          "name": "Tem Agendamento Espec칤fico?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            -800,
            512
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "=SELECT a.id, a.paciente_id, a.data_hora, a.tipo_consulta, p.nome as paciente_nome, p.telefone as paciente_telefone FROM agendamentos a JOIN pacientes p ON a.paciente_id = p.id WHERE a.id = {{ $json.agendamento_id }}"
          },
          "id": "busca-agendamento-test",
          "name": "Busca Agendamento Teste",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.6,
          "position": [
            -608,
            400
          ],
          "credentials": {
            "postgres": {
              "id": "xwAYczJevSyqr2Is",
              "name": "Postgres account"
            }
          }
        },
        {
          "parameters": {
            "authentication": "serviceAccount",
            "resource": "row",
            "operation": "get",
            "tableId": "config_globais",
            "id": "={{ 1 }}"
          },
          "id": "variaveis-globais-test",
          "name": "Vari치veis Globais Teste",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -608,
            608
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "lembretes_enviados",
            "limit": 1,
            "matchType": "allFilters"
          },
          "id": "verifica-lembrete-existente",
          "name": "Verifica Lembrete J치 Enviado",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            0,
            112
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "check-no-lembrete",
                  "leftValue": "={{ $('Verifica Lembrete J치 Enviado').all().length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "if-lembrete-nao-enviado",
          "name": "Lembrete N칚o Foi Enviado?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            208,
            112
          ]
        },
        {
          "parameters": {
            "tableId": "n8n_chat_histories",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "session_id",
                  "fieldValue": "={{ $('Busca Lembrete Pendente').item.json.telefone }}-calendar"
                },
                {
                  "fieldId": "message",
                  "fieldValue": "={{ JSON.stringify({type: 'ai', content: $('Responde Paciente').item.json.message.conversation, tool_calls: [], additional_kwargs: {}, response_metadata: {}, invalid_tool_calls: []}) }}"
                }
              ]
            }
          },
          "id": "registra-resposta-memoria",
          "name": "Registra Resposta na Mem칩ria",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            720,
            512
          ],
          "credentials": {
            "supabaseApi": {
              "id": "vjxdwL14zFNscRrD",
              "name": "Supabase account"
            }
          }
        }
      ],
      "connections": {
        "Verifica Consultas": {
          "main": [
            [
              {
                "node": "Vari치veis Globais",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Config Lembretes": {
          "main": [
            [
              {
                "node": "Busca Agendamentos 48h",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Agendamentos 48h": {
          "main": [
            [
              {
                "node": "Combina Dados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Combina Dados": {
          "main": [
            [
              {
                "node": "Calcula Tempo Restante",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Calcula Tempo Restante": {
          "main": [
            [
              {
                "node": "Timing Correto?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Historico Paciente": {
          "main": [
            [
              {
                "node": "Prepara Dados Analise",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepara Dados Analise": {
          "main": [
            [
              {
                "node": "IA Analisa Risco No-Show",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IA Analisa Risco No-Show": {
          "main": [
            [
              {
                "node": "Extrai Score Risco",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IA Gera Mensagem": {
          "main": [
            [
              {
                "node": "Prepara Envio WhatsApp",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepara Envio WhatsApp": {
          "main": [
            [
              {
                "node": "Envia WhatsApp",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Envia WhatsApp": {
          "main": [
            [
              {
                "node": "Registra Lembrete Enviado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Webhook Resposta Paciente": {
          "main": [
            [
              {
                "node": "Vari치veis Globais Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extrai Dados Resposta": {
          "main": [
            [
              {
                "node": "Busca Lembrete Pendente",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Lembrete Pendente": {
          "main": [
            [
              {
                "node": "Tem Lembrete Pendente?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Tem Lembrete Pendente?": {
          "main": [
            [
              {
                "node": "IA Interpreta Resposta",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IA Interpreta Resposta": {
          "main": [
            [
              {
                "node": "Extrai Categoria",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extrai Categoria": {
          "main": [
            [
              {
                "node": "Direciona por Categoria",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Direciona por Categoria": {
          "main": [
            [
              {
                "node": "Atualiza Status Confirmado",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Atualiza Status Cancelado",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Atualiza Status Reagenda",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Atualiza Status Duvida",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Atualiza Status Confirmado": {
          "main": [
            [
              {
                "node": "Responde Paciente",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Atualiza Status Cancelado": {
          "main": [
            [
              {
                "node": "Responde Paciente",
                "type": "main",
                "index": 0
              },
              {
                "node": "Busca Lista Espera",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Lista Espera": {
          "main": [
            [
              {
                "node": "Tem Pessoas na Espera?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Tem Pessoas na Espera?": {
          "main": [
            [
              {
                "node": "Busca Dados Agendamento",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Atualiza Agendamento Cancelado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Dados Agendamento": {
          "main": [
            [
              {
                "node": "Prepara Oferta Vaga",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepara Oferta Vaga": {
          "main": [
            [
              {
                "node": "IA Gera Mensagem Vaga",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IA Gera Mensagem Vaga": {
          "main": [
            [
              {
                "node": "Envia Oferta para Espera",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Envia Oferta para Espera": {
          "main": [
            [
              {
                "node": "Atualiza Espera Contatado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verifica Nao Respondidos": {
          "main": [
            [
              {
                "node": "Vari치veis Globais Escalacao",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Lembretes Sem Resposta": {
          "main": [
            [
              {
                "node": "Filtra +4h Sem Resposta",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filtra +4h Sem Resposta": {
          "main": [
            [
              {
                "node": "Busca Agendamento para Escalar",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Agendamento para Escalar": {
          "main": [
            [
              {
                "node": "Prepara Notificacao Humano",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepara Notificacao Humano": {
          "main": [
            [
              {
                "node": "IA Gera Alerta Recepcionista",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IA Gera Alerta Recepcionista": {
          "main": [
            [
              {
                "node": "Envia Alerta Recepcionista",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Envia Alerta Recepcionista": {
          "main": [
            [
              {
                "node": "Marca como Escalado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Atualiza Status Reagenda": {
          "main": [
            [
              {
                "node": "Responde Paciente",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Atualiza Status Duvida": {
          "main": [
            [
              {
                "node": "Responde Paciente",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Timing Correto?": {
          "main": [
            [
              {
                "node": "Filtra Nao Enviados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Vari치veis Globais": {
          "main": [
            [
              {
                "node": "Busca Config Lembretes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Vari치veis Globais Webhook": {
          "main": [
            [
              {
                "node": "Extrai Dados Resposta",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Vari치veis Globais Escalacao": {
          "main": [
            [
              {
                "node": "Busca Lembretes Sem Resposta",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extrai Score Risco": {
          "main": [
            [
              {
                "node": "Prepara Dados Lembrete",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepara Dados Lembrete": {
          "main": [
            [
              {
                "node": "IA Gera Mensagem",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Webhook Teste": {
          "main": [
            [
              {
                "node": "Parse Test Payload",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse Test Payload": {
          "main": [
            [
              {
                "node": "Tem Agendamento Espec칤fico?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Tem Agendamento Espec칤fico?": {
          "main": [
            [
              {
                "node": "Busca Agendamento Teste",
                "type": "main",
                "index": 0
              },
              {
                "node": "Vari치veis Globais Teste",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Vari치veis Globais Teste": {
          "main": [
            [
              {
                "node": "Busca Config Lembretes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Busca Agendamento Teste": {
          "main": [
            [
              {
                "node": "Combina Dados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filtra Nao Enviados": {
          "0": [
            [
              {
                "node": "Verifica Lembrete J치 Enviado",
                "type": "0",
                "index": 0
              }
            ]
          ]
        },
        "Verifica Lembrete J치 Enviado": {
          "0": [
            [
              {
                "node": "Lembrete N칚o Foi Enviado?",
                "type": "0",
                "index": 0
              }
            ]
          ]
        },
        "Lembrete N칚o Foi Enviado?": {
          "0": [
            [
              {
                "node": "Busca Historico Paciente",
                "type": "0",
                "index": 0
              }
            ]
          ]
        },
        "Responde Paciente": {
          "main": [
            [
              {
                "node": "Registra Resposta na Mem칩ria",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Gilberto Abrao",
      "name": null,
      "description": null
    }
  }
}
